<ngx-json-ld [json]="schema"></ngx-json-ld>
<div class="video-content-post">
    <div class="video-container" style="background-image: url(http://placehold.it/720x340/fffdf4/333333?text=+)">
        <video class="wp-video-shortcode" id="player" preload="auto" style="width:100%; height:100%;">
            <source type="video/mp4" src="../../assets/images/videoplayback.3gp" />
        </video>
    </div>
    <div class="container" *ngIf="video?.title">
        <div class="content-article">
            <h1 class="title-article" [innerHTML]="video?.title">Tittle</h1>
            <div class="info-article">
                <a [routerLink]="video?.cate.link" [innerHTML]="video?.cate.name">Name</a>
                <time><time class="post-time">{{video?.date | date:'hh:mm | dd/MM/yyyy'}}</time></time>
            </div>
            <p class="sapo-article" [innerHTML]="video?.excerpt">Excerpt</p>
        </div>
    </div>
</div>
<section class="block video-list" id="content-pushpin-4" *appShellNoRender>
    <div class="head-block pushpin-b clearfix" data-target="content-pushpin-4" *ngIf="newpost?.posts">
        <h3>Video mới nhất</h3>
    </div>
    <div class="container">
        <div class="row video-list-row" *ngIf="newpost?.posts">
            <div class="col s12 video-item" *ngFor="let row of news">
                <a class="item-vbs" [routerLink]="row.link">
                    <span class="img-holder">
                        <span class="img-ratio-fill" style="padding-bottom: 62.500000%;"></span>
                        <span class="img-progressive img-background" [ngStyle]="{'background-image': 'url(' + row.image + ')'}"></span>
                    </span> <span class="icon-play"></span>
                </a>
                <a [routerLink]="row.link" class="title-vbs" [innerHTML]="row.title">Title</a>
            </div>
        </div>
        <angular-loader (loadClick)="loadMore()"></angular-loader>
    </div>
</section>
<section>
    <a class="btn-floating btn-large waves-effect waves-light btn-category" style="bottom: 60px" data-target="modal-video" modal><i class="icon-category-video">add</i></a>
    <div id="modal-video" class="modal bottom-sheet">
        <ul id="section-video" class="tags-of-block modal-close">
            <li *ngFor="let row of menu">
                <a [routerLink]="row.slug" [innerHTML]="row.title">Dễ thương</a>
            </li>
        </ul>
    </div>
</section>