<header class="fixed-header" [ngClass]="{'is-hidden': navbar}" *appShellNoRender>
    <nav>
        <div class="nav-wrapper clearfix">
            <a *ngIf="index" routerLink='/' class="brand-logo" title="Lost Bird">Lost Bird</a>
            <a *ngIf="!index" routerLink='/' class="btn-back-to-home"><i class="icon-back"><span></span><span></span></i>Về trang chủ</a>
            <ul class="top-menu">
                <li [ngClass]="{'callPostRandom': random}">
                    <div class="wrapper-random-post">
                        <a (click)="getRandomPost()" class="btn-random">
                            <svg width="14px" height="12px" viewBox="0 0 14 12" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink">
                                <defs></defs>
                                <g id="mobile" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="16-assets" transform="translate(-919.000000, -1083.000000)" fill="#000000"
                                        fill-rule="nonzero">
                                        <path d="M931.998838,1092.56538 L932.070172,1092.5 L930.13617,1090.72742 C929.95461,1090.56101 929.95461,1090.29121 930.13617,1090.1248 C930.31773,1089.9584 930.612097,1089.9584 930.793658,1090.1248 L932.72766,1091.89739 C933.09078,1092.2302 933.09078,1092.7698 932.72766,1093.10261 L930.793658,1094.8752 C930.612097,1095.0416 930.31773,1095.0416 930.13617,1094.8752 C929.95461,1094.70879 929.95461,1094.43899 930.13617,1094.27258 L931.615996,1092.91627 C931.49034,1092.969 931.360855,1093 931.273936,1093 L927.617847,1093 C926.541814,1093 925.737051,1092.22493 925.164002,1090.98257 C925.091794,1090.82602 925.025124,1090.66578 924.96373,1090.50326 C924.35892,1092.14509 923.388842,1093 922.061236,1093 L919.403727,1093 C919.180755,1093 919,1092.79601 919,1092.54438 C919,1092.29275 919.180755,1092.08876 919.403727,1092.08876 L922.061236,1092.08876 C923.273046,1092.08876 924.095353,1091.10686 924.545534,1089 C924.095353,1086.89314 923.273046,1085.91124 922.061236,1085.91124 L919.403727,1085.91124 C919.180755,1085.91124 919,1085.70725 919,1085.45562 C919,1085.20399 919.180755,1085 919.403727,1085 L922.061236,1085 C923.388842,1085 924.35892,1085.85491 924.96373,1087.49674 C925.025124,1087.33422 925.091794,1087.17398 925.164002,1087.01743 C925.737051,1085.77507 926.541814,1085 927.617847,1085 L931.273936,1085 C931.360855,1085 931.49034,1085.031 931.615997,1085.08373 L930.13617,1083.72742 C929.95461,1083.56101 929.95461,1083.29121 930.13617,1083.1248 C930.31773,1082.9584 930.612097,1082.9584 930.793658,1083.1248 L932.72766,1084.89739 C933.09078,1085.2302 933.09078,1085.7698 932.72766,1086.10261 L930.793658,1087.8752 C930.612097,1088.0416 930.31773,1088.0416 930.13617,1087.8752 C929.95461,1087.70879 929.95461,1087.43899 930.13617,1087.27258 L932.070172,1085.5 L931.998838,1085.43462 C931.999606,1085.44158 932,1085.44858 932,1085.45562 C932,1085.70725 931.496908,1085.91124 931.273936,1085.91124 L927.617847,1085.91124 C926.396077,1085.91124 925.65333,1087.47204 925.372155,1089 C925.65333,1090.52796 926.396077,1092.08876 927.617847,1092.08876 L931.273936,1092.08876 C931.496908,1092.08876 932,1092.29275 932,1092.54438 C932,1092.55142 931.999606,1092.55842 931.998836,1092.56538 Z"
                                            id="random"></path>
                                    </g>
                                </g>
                            </svg>
                        </a>
                        <div class="tip-random-post" (click)="hideAlert()">
                            <div class="title-trp">Chymie cảm thấy bài không hay?</div>
                            <div class="content-trp">Hãy trải nghiệm chức năng đọc bài ngẫu nhiên được Chym gợi ý</div>
                            <a (click)="getRandomPost()" class="btn-read-now">Đọc ngay</a>
                            <a class="btn-read-later">Đọc sau</a>
                        </div>
                    </div>
                </li>
                <li>
                    <!-- <ul>
                        <li *ngIf="!showLog"><a (click)="login()">Đăng nhập</a></li>
                        <li *ngIf="showLog">
                            <a [href]="user.iss" target="_blank"><img width="30" height="30" [src]="user.picture" class="avatar-img">{{user.name}}</a>
                            <a class="editprofile" (click)="logout()"><img width="30" height="30" src="../../assets/images/logout.svg"></a>
                        </li>
                    </ul> -->
                    <a *ngIf="!showLog" href="javascript:void(0);" data-target="account" class="sidenav-trigger btn-user show-on-small waves-effect waves-light" (click)="login()">
                        <img src="../../assets/images/user.svg" alt="User">
                    </a>
                    <a *ngIf="showLog" href="javascript:void(0);"  data-target="account" class="sidenav-trigger btn-user show-on-small waves-effect waves-light" (click)="logout()">
                        <img [src]="user.picture" alt="User">
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" data-target="nav-mobile" class="sidenav-trigger button-collapse top-nav show-on-small waves-effect waves-light" modal><span></span><span></span><span></span></a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<!-- <aside id="top-article" class="sidenav right-aligned">
    <div id="hot" class="col s12">
        <div id="hot-content">
            <div class="container">
                <ul class="row hot-content">
                    <li class="col s12 sidenav-close" *ngFor="let row of hotpost">
                        <div class="item-thumb-l clearfix" [ngClass]="{'unread' : unread.indexOf(row.id) !== -1 && post.indexOf(row.id) === -1}">
                            <a class="thumb-itl" [routerLink]="row.link">
                                <span class="thumbnail-post" *ngIf="row.skull">
                                    <span class="skullcap">
                                        <img src="../../assets/images/skullcap.svg" alt="Không sợ thì bấm">
                                        <span>Không sợ thì bấm</span>
                                    </span>
                                </span>
                                <span class="img-holder">
                                    <span class="img-ratio-fill" style="padding-bottom: 62.500000%;"></span>
                                    <span class="img-progressive img-background" [ngStyle]="{'background-image': 'url(' + row.image + ')'}"></span>
                                </span>
                            </a>
                            <div class="w-itl">
                                <a [routerLink]="row.link" class="title-itl" [innerHTML]="row.title">Title</a>
                                <a class="title-author-itl" [routerLink]="['but-danh',row.author.slug]" [innerHTML]="row.author.name">Author</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</aside> -->

<aside id="nav-mobile" class="sidenav has-scroll">
    <div class="top-sn">
        <div class="search-box">
            <form #formSearch="ngForm" (submit)="goSearch(formSearch)" id="headerSearch">
                <input type="text" class="input-search" placeholder="Tìm nhanh…" name="search" [(ngModel)]="slug">
                <button class="search-submit sidenav-close" type="submit"><i class="icon-search"></i></button>
            </form>
        </div>
    </div>
    <div class="w-list-menu-category modal-close" id="fixed">
        <ul class="list-menu-category">
            <li *ngFor="let menu of menus">
                <a class="sidenav-close" [(routerLink)]="menu.slug">{{ menu.title }}</a>
                <span class="icon icon-arrow-down-o"></span>
                <ul *ngIf="menu.title != 'Video'">
                    <li *ngFor="let menu of menu.child">
                        <a [(routerLink)]="menu.slug" class="sidenav-close">{{menu.title }}<span *ngIf="catecount[menu.id] != null">{{catecount[menu.id]}}</span></a>
                        <span class="icon icon-arrow-down-o"></span>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</aside>