<footer>
  <div class="container">
    <ul class="social-footer">
      <li><a target="_blank" href="https://www.facebook.com/lostbird.vn/"><i class="icon-fb"></i></a></li>
      <li><a target="_blank" href="https://www.instagram.com/lostbirdvn/"><i class="icon-instagram"></i></a></li>
      <li><a target="_blank" href="https://lostbirdvn.tumblr.com/"><i class="icon-tumrble"></i></a></li>
      <li><a target="_blank" href="https://www.youtube.com/channel/UCHspZ9Dw2KxHpMka4cUTXSQ"><i class="icon-youtube"></i></a></li>
      <li><a href="mailto:info@lostbird.vn"><i class="icon-mail"></i></a></li>
    </ul>
    <p>111A Lý Chính Thắng, Phường 7, Quận 3, TP. Hồ Chí Minh</p>
  </div>
  <div class="copyright">
    <div class="container">&copy;2018 - Bản quyền bởi Lostbird.vn</div>
  </div>
</footer>
