<section class="page-404">
  <div class="img-404">
    <img src="http://static-mlb.lostbird.vn/data/themes/lost-bird-v2-0/images/img-404.jpg" alt="Không tìm thấy chim">
    <h1>Mất Chim!</h1>
    <h5>Lạc đã bay mất nên không còn gì xem. Hãy gọi Lạc về để bay cùng Lạc.</h5>
    <a [routerLink]="['/']" class="btn-back-home"><i class="icon-arrow-prev"></i>Gọi lạc</a>
  </div>
</section>
