
html,body { height:100%; }
.screenload{
    background: url(../images/loading.gif) no-repeat center / 80px 80px;
    position: absolute;
    top: 0;bottom: 0;left: 0;right: 0;
}
body {
    font-family: $font-body;
    font-size: $font-size;
    color: $font-color;
    line-height: $line-height;
    background-color: #fff;
    font-weight: $font-normal;
    overflow-x: hidden;
}
* {
  text-rendering: geometricPrecision;
}
h1, h2, h3, h4, h5, h6 {
  color: $font-color;
  font-weight: $font-bold;
}
a{
    outline: 0 !important;
    text-decoration: none;
    color: $black;

    &:hover {
        color: $font-color;
        text-decoration: none;
    }
    
}
strong, b {
  font-weight: $font-bold;
}

ul,ol {
  list-style: none;
}  
input,button,textarea{
  @include border-radius(3px);
}
html,body {
  height: 100%;
}
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
}
.row .col {
  padding-left: 5px;
  padding-right: 5px;
}
.container {
    width: 100% !important;
    padding: 0 20px !important;
    .row {
      margin-left: -5px;
      margin-right: -5px;
    }
}
//extend
.styleIcon {
  color: $grey;
  margin-right: 3px;
  display: inline-block;
  &.icon-camera {
    font-size: 11px;
    margin-right: 8px;
    @include transform-translateY(-1px);
  }
}
.threeDot {
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  white-space: nowrap;
}
.modal-category.modal {
  max-height: 85%;
  top: 50% !important;
  @include transform-translateYI(-50%,!important);
}
.modal-category.bottom-sheet {
  max-height: 65%;
  top: auto !important;;
  @include transform-translateYI(0,!important);
}
.modal-category.open{
    z-index: 1003;
    display: block;
    opacity: 1;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
  font-size: 13px;
}
.clearfix:before, 
.clearfix:after {
  content: " "; 
  display: table; 
}

.clearfix:after {
  clear: both;
}
.mt-0 {
  margin-top: 0 !important;
}
.loading-content {
  text-align: center;
  padding: 40px;
}
/**** loading animation ****/
$duration: 0.6s;
$duration-mat: 0.6s;
$duration-mo: 0.9s;
$delay1:0s;
$delay2:0.2s;
$delay3:0.4s;
.cham {
  animation: chamFade linear infinite alternate;
  
  opacity: 0;
  //transform: scale(0);
  use, circle {
    
    animation: chamZoom linear infinite alternate;
    
  }
  &:nth-child(1) {
    animation-duration: $duration;
    animation-delay: $delay1;
    use, circle {
      transform-origin: 2.5px 2px 7px;
      animation-duration: $duration;
      animation-delay: $delay1;
    }
  }
  &:nth-child(2) {
    animation-duration: $duration;
    animation-delay: $delay2;
    use, circle {
      transform-origin: 8.5px 2px 7px;
      animation-duration: $duration;
      animation-delay: $delay2;
    }
    
  }
  &:nth-child(3) {
    animation-duration: $duration;
    animation-delay: $delay3;
    use, circle {
      transform-origin: 14.5px 2px 7px;
      animation-duration: $duration;
      animation-delay: $delay3;
    }
  }

}
.mat1 {
  animation: moveUpDown ease-out infinite alternate;
  animation-duration: $duration-mat;
      animation-delay: $delay2;
}
.mat2 {
  animation: moveUpDown ease-out infinite alternate;
  animation-duration: $duration-mat;
      animation-delay: $delay3;
}
.trong1 {
  animation: moveUpDownSlow ease-in infinite alternate;
  animation-duration: $duration-mat;
      animation-delay: $delay2;
}
.trong2 {
  animation: moveUpDownSlow ease-in infinite alternate;
  animation-duration: $duration-mat;
      animation-delay: $delay3;
}
.mo polygon {
  animation: moveUpDownSlowly ease-in infinite alternate;
  animation-duration: $duration-mo;
}

@keyframes chamFade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes chamZoom {

  0% {
    -webkit-transform: scale3d(0.3,0.3,0.3);
    transform: scale3d(0.3,0.3,0.3);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1,1,1);
  }
}
@keyframes moveUpDown {

  0% {
    @include transform-translateY(0);
  }
  30% {
    @include transform-translateY(0);
  }
  100% {
    @include transform-translateY(4px);
  }
}
@keyframes moveUpDownSlow {

  0% {
    @include transform-translateY(-3px);
  }

  70% {
    @include transform-translateY(6px);
  }

  100% {
    @include transform-translateY(6px);
  }
}
@keyframes moveUpDownSlowly {

  0% {
    @include transform-translateY(0);
  }

  100% {
    @include transform-translateY(3px);
  } 
}

@-webkit-keyframes pulse {
  0% {
    @include transform-scale(0.9,0.9);
  }
  70% {
    @include transform-scale(1,1);
    box-shadow: 0 0 0 50px rgba($black, 0);
  }
    100% {
    @include transform-scale(0.9,0.9);
    box-shadow: 0 0 0 0 rgba($black, 0);
  }
}
@keyframes pulse {
  0% {
    @include transform-scale(0.9,0.9);
  }
  70% {
    @include transform-scale(1,1);
    box-shadow: 0 0 0 50px rgba($black, 0);
  }
    100% {
    @include transform-scale(0.9,0.9);
    box-shadow: 0 0 0 0 rgba($black, 0);
  }
}