
.comment-form {
	position: relative;
	padding-left: 44px;
	margin-bottom: 20px;
	&.active-btn {
		.input-form {
			.btn-submit-comment {
				background-color: $yellow !important;
				color: $black;
			}
		}
	}
	&.show-comment {
		.input-form {
			height: 117px;
			.btn-submit-comment {
				bottom: -1px;
				right: -1px;
				width: calc(100% + 2px);
				@include border-radius-custom(0,0,3px,3px);
				background-color: $border-color-form;
			}
			.input-comment {
				display: block;
			}
		}
	}
	&.comment-child {
		padding-left: 60px;
		height: 0;
        overflow: hidden;
        margin-bottom: 0;
        @include transition(height,0.3s,ease);
        margin-top: 10px;
        &.show-comment {
            height: auto;
            margin-bottom: 20px;
            .input-form {
                height: auto;
                .input-comment {
                    display: block;
                }
            }
        }
		.avatar-form {
			width: 30px;
			height: 30px;
			@include border-radius(15px);
		}
		.input-form {			
			&:after, &:before {
				margin-top: 0;
			}		
			&:after {
				top: 13px;
			}	
			&:before {
				top: 12px;
			}	
			.btn-submit-comment {
				bottom: -1px;
				right: -1px;
				width: calc(100% + 2px);
				@include border-radius-custom(0,0,3px,3px);
			}
		}
		
	}
	.avatar-form {
		background-color: #EDEADE;
		width: 34px;
		height: 34px;
		@include border-radius(17px);
		overflow: hidden;
		position: absolute;
		left: 0;
		top: 0;
		img {
			width: 100%;
			&.img-default {
				width: 50%;
				position: absolute;
				top: 50%;
				left: 50%;
				@include transform-translate(-50%,-50%);
			}
		}
	}
	.input-form {
		position: relative;
		box-sizing: border-box;
		border: 1px solid $border-color-form;
		@include border-radius(3px);
		padding: 15px 15px 40px 15px;
		height: 60px;
		background-color: $white;
		@include transition(height,0.3s,ease);
		&:after, &:before {
			right: 100%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
		}

		&:after {
			border-color: transparent;
			border-right-color: $white;
			border-width: 6px;
			top: 13px;
		}
		&:before {
			border-color: transparent;
			border-right-color: $border-color-form;
			border-width: 7px;
			top: 12px;
		}
		.status {
			font-size: 14px;
			color: $grey;
			font-weight: $font-bold;
			display: block;
			line-height: 10px;
			margin-bottom: 10px;
		}
		.input-comment {
			border: none !important;
			box-shadow: none !important;
			outline: none !important;
			display: none;
			height: 40px;
			line-height: 20px;
			overflow: hidden;
		}
		.btn-submit-comment {
			color: rgba($black,0.6);
			font-size: 13px;
			padding: 10px 20px;
			background-color: $border-color-form;
			border: none;
			font-weight: $font-bold;
			text-transform: uppercase;
			position: absolute;
			bottom: 10px;
			right: 10px;
			width: 150px;
			text-align: center;
			@include border-radius(3px);
			height: 36px;
			@include transition(all,0.3s,ease);
		}
	}
}
.user-comment {
	position: relative;
	padding-left: 44px;
	margin-bottom: 10px;
	ul.action-comment {
		&.action-liked {
			li a{
				&.like {
					font-weight: $font-bold;
				}
				&.dislike {
					color: rgba($black,0.4);
					.icon-action {
						i {
							background-position-y: 24px;
						}
					}
				}
			}
		}
		&.action-dislike {
			li a{
				&.like {
					color: rgba($black,0.4);
					.icon-action {
						i {
							background-position-y: 24px;
						}
					}
				}
				&.dislike {
					font-weight: $font-bold;
					
					
				}
			}
		}
	}
	&.user-comment-child {
		margin-top: 10px;
		padding-left: 40px;
		.avatar-form {
			width: 30px;
			height: 30px;
			@include border-radius(15px);
		}
	}
	
	.avatar-form {
		background-color: #EDEADE;
		width: 34px;
		height: 34px;
		@include border-radius(17px);
		overflow: hidden;
		position: absolute;
		left: 0;
		top: 0;
		img {
			width: 100%;
			&.img-default {
				width: 50%;
				position: absolute;
				top: 50%;
				left: 50%;
				@include transform-translate(-50%,-50%);
			}
		}
	}
	.user-name {
		font-size: 13px;
		font-weight: $font-bold;
		span {
			font-weight: $font-normal;
			color: $grey;
			display: block;
			font-size: 11px;
		}
	}
	.text-comment {
		margin-top: 5px;
		margin-bottom: 5px;
		font-size: 13px;
	}
	ul.action-comment {
		margin-top: 0;
		margin-bottom: 0;
		li {
			display: inline-block;
			margin-right: 10px;
			a {
				font-size: 11px;
				display: block;
				color: $blue;
				span {
					font-weight: $font-bold;
				}
				&:hover {
					color: $purple !important;
					.icon-action {
						i {
							background-position-y: 12px !important;
						}
					}
				}
				.icon-action {
					i {
						width: 12px;
						height: 12px;
						display: inline-block;
						background-position-y: 0;
					}
					.icon-like {
						background-image: url('../images/like.svg');
					}
					.icon-dislike {
						background-image: url('../images/dislike.svg');
						@include transform-translateY(3px);
					}
				}

			}
		}
	}
}
.note-comment-form{
	background-color: rgba($yellow,0.1);
	color: #433500;
	padding: 5px 10px;
	border: 1px dashed $yellow;
	margin-top: 5px;
	margin-bottom: 50px;
	@include border-radius(3px);
	p {
		text-align: center;
		margin: 0;
		font-size: 13px;
	}
}
.loadmore-comment {
	padding-left: 44px;
	margin-bottom: 50px;
	.btn-load-comment {
		font-size: 12px;
		color: $blue;
		padding: 10px 0;
		text-align: center;
		font-weight: $font-bold;
		display: block;
		width: 100%;
		border: 1px solid $line-color-list;
		background-color: #fcfcfc;
	}
}
.ask-login-modal {
	width: auto;
	max-width: 400px;
	top: 50% !important;
	transform: scaleX(1) scaleY(1) translateY(-50%) !important;
	.modal-content {
		text-align: center;
		.btns-modal {
			margin-bottom: 20px;
		}
	}
}
.notification-modal {
	font-size: 16px;
}
.container-bp {
    padding: 0 10px;
}





















