.wrapper {
	padding-bottom: 200px;
	position: relative;
	min-height: 100%;
	padding-top: 56px;
	overflow: hidden;
}  
header {
	&.fixed-header {
		top: 0;
		width: 100%;
		position: fixed;
		z-index: 10;
		@include transition(transform,linear,0.2s);
		@include transform-translateY(0);
		@include box-shadow(0,0,30px,0,rgba($black,0.2));
		.brand-logo {
			width: 61px;
			@include transition(width,linear,0.2s);
		}
	}
	&.is-hidden {
		@include transform-translateY(-100%);
	}
}
.top-sn {
	padding: 10px 10px 10px 10px; 
	position: relative;
	z-index: 9;
	@include box-shadow(0,0,15px,0,rgba($black,0.2));
	.search-box {
		position: relative;
		.input-search {
			box-sizing: border-box;
			padding: 0;
			width: 100%;
			height: 34px;
			background: none;
			border: none !important;
			@include border-radius(17px);
			margin-bottom: 0;
			&:focus {
				box-shadow: none !important;
			}
		}
		.search-submit {
			position: absolute;
			top: 0;
			right: 0;
			width: 34px;
			height: 34px;
			display: block;
			background: none;
			border: none;
		}
	}
		
}
#nav-mobile {
	width: 210px;
}
.w-list-menu-sn {
	ul.menu-top-sn {
		margin: 10px 0;
		padding: 0 10px;
		li {
			display: inline-block;
			a {
				display: block;
				text-align: center;
				background-color: rgba($yellow,1);
				height: 34px;
				line-height: 34px;
				font-weight: $font-normal;
				padding: 0;
				text-transform: uppercase;
				@include border-radius(17px);
				
			}
			&:nth-child(1) a {
				width: 175px;
			}
			&:nth-child(2) a {
				width: 80px;
			}
		}
	}
}
.w-list-menu-category {
	height: calc(100% - 48px);
}
.list-menu-sn {
	padding-bottom: 20px;

	.head-lmsn {
		padding: 5px 10px;
		background-color: $line-color-list;
		font-size: 11px;
		color: $black;
		font-weight: $font-bold;
	}
	ul {
		margin: 0;
		li {
			width: 48%;
			display: inline-block;
			
			a {
				text-transform: uppercase;
				padding: 0 10px;
				font-weight: $font-normal;
			}
		}
	}
}
ul.list-menu-category {
	margin-top: 0;
	overflow: hidden;
	li {
		background-color: rgba($black,0.05);
		text-transform: uppercase;
		position: relative;
		margin-bottom: 1px;
		span.arrow-top {
			@include transform-rotate(0deg);
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 10px 10px 10px;
			border-color: transparent transparent $white transparent;
			left: 35px;
		    top: 38px;
		}
		a {
			position: relative;
			display: block;
			span {
				color: $white !important;
				top: 15px;
				right: 25px;
				font-size: 9px;
				text-align: center;
				line-height: 19px;
				width: 18px;
				height: 18px;
				background-color: $red;
				padding: 0 6px;
				display: block;
				@include border-radius(9px);
				@include transform-rotate(0deg);
			}
		}
		span {
			font-size: 5px;
			@include transform-rotate(-90deg);
			position: absolute;
			right: 10px;
			top: 2px;
		}
		&.actived {
			&:before {
				background-color: $yellow;
			}
		}
		&:before {
			position: absolute;
			content: "";
			width: 2px;
			height: 48px;
			left: 0;
			top: 0;		
		}
		a {
			display: block;
			padding: 0 42px 0 16px;
		}
		ul {
			li {
				background-color: $white;
				text-transform: none;
				a {
					color: rgba($black,0.6);
					position: relative;

					
				}
				span {
					color: rgba($black,0.3);
				}

			}
		}

	}
}

nav {
	background-color: $yellow;
	h1 {
		margin: 0 auto;
    	line-height: inherit;
    	display: table;
	}
	ul.top-menu {
		button {
			position: relative;
			.notification {
				display: block;
				width: 16px;
				height: 16px;
				border: 4px solid $yellow;
				@include border-radius(8px);
				background-color: $red;
				position: absolute;
				top: -5px;
    			right: -3px;
			}
		}
	}
	ul a:hover{
        background-color: rgba(0,0,0,0);
    }

}
nav .brand-logo {
    margin-left: 15px;
    margin-top: 9px;
}
.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
	box-shadow: inherit;
	-webkit-box-shadow: inherit;
}
.sidenav {
	width: 280px;
}

.brand-logo {
	text-indent: -9999px;
	background-image: url('../images/logoLB.svg');
	width: 61px;
	height: 38px;
}
nav .button-collapse {
	width: 46px !important;
	height: 56px !important;
	margin: 0;
	padding: 0;
	span {
		display: block;
		height: 1px;
		width: 20px;
		position: absolute;
		@include border-radius(2px);
		background-color: $black;
		left: 13px;
		&:nth-child(1) {
			top:23px;
		}
		&:nth-child(2) {
			top:28px;
		}
		&:nth-child(3) {
			top: 33px;
		}
	}
}
nav a.btn-back-to-home {
	float: left;
	position: relative;
	padding: 0 10px 0 38px;
	height: 56px;
	line-height: 56px;
	color: $black;
	font-size: 12px;
	font-weight: $font-bold;
	i.icon-back {
		position: absolute;
		width: 18px;
		height: 18px;
		top: 18px;
		left: 14px;
		background-color: $black;;
		@include border-radius(9px);
		span {
			width: 7px;
			height: 1px;
			background-color: $yellow;
			@include border-radius(1px);
			position: absolute;
    		display: block;
    		left: 5px;
			&:nth-child(1) {
				@include transform-rotate(-45deg);
				top: 6px;
			}
			&:nth-child(2) {
				@include transform-rotate(45deg);
				top: 10px;
			}
		}
	}
}
.top-menu {
	margin-right: 0;
  margin-top: 0;
	float: right;
	li {
		border-left: 1px solid rgba($black,0.05);
		&:nth-child(1) {
			border: none;
		}
		.btn-user {
			display: block;
			width: 46px;
			height: 56px;
			text-align: center;
			line-height: 61px;
			&.sidenav-trigger {
				margin: 0;
			}
		}
		button {
			border: none;
			display: block;
			height: 30px;
			line-height: 30px;
			background: none;
			padding: 0;
			margin: 0 10px 0 0;
			background-color: $black;
			@include border-radius(24px);
			padding: 0 20px 0 10px;
			i {
				color: $yellow;
			    height: 30px !important;
			    line-height: 30px !important;
			    font-size: 25px;
			    display: inline-block;
			    font-size: 18px;
			}
			.good-news {
				color: $yellow;
				font-size: 12px;
				font-weight: $font-bold;
				@include transform-translateY(-2px);
				display: inline-block;
			}
		}
		&:nth-last-child(1) a {
			margin-left: 0;
		}

	}
}
/* home-page */
.home-fearture {
	margin-bottom: 20px;
}
.head-hotest-p {
	position: relative;
	img {
		width: 100%;
	}
}
.wave-hotest-p {
	position: absolute;
	bottom: -6px;
	left: 0;
	width: 100%;
	overflow: hidden;
	svg {
		width: 102% !important;
		height: auto !important;
		margin-left: -1%;
	}
}
.content-hotest-p {
	background-color: $yellow-light;
	padding: 10px 0;
	margin-top:-4px;
}
h2.title-article {
	font-size: 20px;
	margin:0 0 10px 0;
	line-height: 24px;
	padding-top: 5px;
	a {
		color: $black;
	}
}
a.title-category {
	display: block;
	padding: 0;
	font-size: 12px;
	text-transform: uppercase;
	color: $grey;
}
.sabo-hotest-p {
	margin: 0 0 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid rgba($black,0.05);
}
.item-hotest-p {
	a {
		position: relative;
		display: block;
		.thumbnail-post {
			position: relative;
			display: block;
			width: 100%;
			.skullcap {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: calc(100% - 4px);
				background-color: rgba(0,0,0,0.5);
				@include border-radius(4px);
				.w-skull {
					text-align: center;
					position: absolute;
					width: 100%;
					top: 50%;
					@include transform-translateY(-50%);
					img {
						display: inline-block;
						width: 26px;
						height: 28px;
					}
					span {
						display: block;
						color: $white;
						font-size: 12px;
						padding: 0 10px;
						
					}
				}
				
			}
		}
		
		img {
			@include border-radius($radius);
		}
		.title-cate-ihp {
			display: block;
			font-size: 10px;
			color: $black;
			padding: 3px 8px 0px 8px;
			background-color: $yellow;
			position: absolute;
			top:0;
			left: 0;
			@include border-radius-custom(4px,0,4px,0);
			text-transform: uppercase;
		}
		.title-ihp {
			font-weight: $font-bold;
			color: $black;
			display: block;
			margin-top: 5px;
			line-height: 20px;
		}
	}
}

/* tabs hot trend */
#top-article {
	width: 280px;
	height: 100%;
	&.sidenav {
		padding-bottom: 0;
	}
	#nav-tabs-holder,#hot,#trend{
		height: 100%;
	}

}
.hot-content {
	padding-top: 10px;
	margin-bottom: 0;
	.item-thumb-l {
		padding: 10px 20px;
	    margin-left: -20px;
	    margin-right: -20px;
	    margin-bottom: 0;
		.w-itl {
			margin-left: 30%;
		}
		.thumb-itl {
			width: 30%;		
			.skullcap span{
				display: none;
			}	
			span.img-ratio-fill {
				padding-bottom: 100% !important;
			}
		}
		&.unread {
			background-color: rgba($yellow,0.15);
			.thumb-itl {
				display: block;
				position: relative;
				width: 30%;
				&:before {
					position: absolute;
					width: 6px;
					height: 6px;
					@include border-radius(3px);
					background-color: $red;
					left: -13px;
					top: 50%;
					@include transform-translateY(-50%);
					content: "";
				}
				
				
			}
		}
		
	}
	
}
.tabs.tab-hotTrend {
	position: absolute;
	top:0;
	width: 100%;
	background-color: $yellow;
	@include box-shadow(0,0,7px,0,rgba($black,0.2));
	.tab {
		z-index: 1;
		width: 50%;
		a {
			color: rgba($black,0.3);
			font-weight: $font-bold;
			&.active{
				color: $black;
			}
		}
	}
	.indicator {
		background-color: $white;
		height: 3px;
		z-index: 0;
	}
} 

ul.list-news-ht {
	margin: 10px 10px 0;
	li {
		line-height: inherit;
		padding: 15px 0;
		border-bottom: 1px solid $line-color-list;
	    &:nth-child(1) {
	    	padding-top: 0;
	    }
		> a {
			line-height: inherit;
			height: auto;
			padding: 0;
			span {
				display: block;
				&.sapo-text {
					display: -webkit-box;
			    	-webkit-line-clamp: 4;
			    	-webkit-box-orient: vertical;
			    	max-height: 72px;
				    overflow: hidden;
				    font-size: 12px;
				    line-height: 18px;
				    font-weight: 400;
				}
				
				&.title-lnht {
					font-weight: $font-bold;
					line-height: 20px;
					margin-bottom: 10px;
					font-size: 16px;

					i {
						height: 17px;
						color: $grey;
						margin-right: 3px;
						display: inline-block;
						&.icon-camera {
							font-size: 11px;
							margin-right: 8px;
							@include transform-translateY(-1px);
						}
					}
				}

				&.sapo-lnht {
					width: 46%;
					float: left;
					margin-right: 10px;
					font-size: 11px;
					line-height: 14px;
					font-weight: $font-light;
					position: relative;
					display: block;
					.thumbnail-post {
						.skullcap {
							img {
								display: inline-block;
							}
						}
					}

					.icon-post {
						@extend .icon-post;
						bottom: auto;
						top: 25px;
					}
					img {
						@include border-radius($radius);
						display: block;
					}
					.img-holder{
					    width: 100%;
					    float: left;
					    margin-right: 10px;
					    img{
					        width: auto;
					    }
					}

				}
				
			}
			&.title-cate-lnht {
				font-size: 12px;
				color: $grey;
				display: block;
				margin-top: 3px;
			}
			&:hover {
				background: none;
			}
		}
	}
}
.block {
	position: relative;
	padding-top: 68px;
	margin-top: 20px;

}
.head-block {
	background-color: $white;
	padding: 0 20px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 48px;
	z-index: 9;
	margin-bottom: 20px;
	border-bottom: 1px solid $line-color-list;
	@include box-shadow(0,0,20px,0,rgba($black,0));
	@include transition(box-shadow,ease-in,0.2s);

	&:before {
		display: block;
		content: "";
		position: absolute;
		bottom: -1px;
		left: 20px;
		background-color: $yellow;
		width: 40px;
		height: 2px;
		@include transition(all,ease-in,0.2s);
	}

	&.pinned {
		@include box-shadow(0,0,20px,0,rgba($black,0.2));
		background-color: rgba($white,1);
		&:before {
			left: 0;
			width: 100%;
		}
	}
	&.pin-bottom{
		top: 0 !important;
	}
	
	h3 {
		font-size: 18px;
		text-transform: uppercase;
		padding: 15px 0;
		display: block;
		margin: 0;
		float: left;
		@include transition(all,ease-in,0.2s);
	}
	
	.view-more {
		float: right;
		display: block;
		height: 30px;
		width: 30px;
		margin-top: 12px;
		margin-right: -13px;
		border: none;
		background: none;
		@include border-radius(12px);
		position: relative;

		span {
			display: block;
			margin-bottom: 2px;
			width: 3px;
			height: 3px;
			@include border-radius(2px);
			background-color: $grey;
			left: 13px;
			position: absolute;
			&:nth-child(1) {
				top: 4px;
			}
			&:nth-child(2) {
				top: 10px;
			}
			&:nth-child(3) {
				top: 16px;
			}
		}
	}

}
.pushpin-b.stuck {
	z-index: 9 !important;
}

.icon-post {
	pointer-events: none;
	position: absolute;
	left: 0;
	bottom: 0;
	display: block;
	overflow: hidden;
	@include border-radius-custom(0,30px,0,4px);
	z-index: 1;
	width: 40px;
	height: 40px;
	background: url('../images/bg-gradient.svg') no-repeat;
	i {
		position: absolute;
		bottom: 3px;
		left: 3px;
		font-size: 12px;
		color: $yellow;
		z-index: 2;
		&.icon-camera {
			font-size: 10px !important;
		}
	}
}
.item-new-b {
	margin-bottom: 20px;
	position: relative;
	&.lg {
		a img{
			width: 100%;
			display: block;
		}
		a.title-nb {
			font-size: 16px;
		    line-height: 20px;
		    height: auto;
		    margin-top: 10px;
		    overflow: inherit;
		    display: block;
		}
	}
	a {
		display: block;
		position: relative;
		.icon-post {
			@extend .icon-post;
		}
		img {
			@include border-radius($radius);
			display: block;
		}
		&.title-cate-nb {
			display: block;
			font-size: 10px;
			color: $black;
			padding: 3px 8px 0px 8px;
			background-color: rgba($yellow,0.8);
			position: absolute;
			top:0;
			left: 0;
			@include border-radius-custom(4px,0,4px,0);
			text-transform: uppercase;		
		
		}
		&.title-nb {
			font-weight: $font-bold;
			color: $black;
			margin-top: 5px;
			height: 54px;
			overflow: hidden;
			display: -webkit-box;
		    -webkit-line-clamp: 3;
		    -webkit-box-orient: vertical; 
			i {
				@extend .styleIcon; 
			}
		}
		&.title-author-nb {
			font-size: 12px; 
			color: $grey;
			max-height: 18px;
	    	margin-top: 3px;
	    	@extend .threeDot;
		}
	}
	span.spon {
		line-height: 18px;
		padding: 0 5px;
		margin-top: 3px;
		@include border-radius(2px);
		font-size: 10px;
		text-transform: uppercase;
		background-color: $red;
		color: $white;
		display: inline-block;
	}

	
}
.thumbnail-post {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 2;
	background-color: rgba(0,0,0,0.5);
	@include border-radius($radius);
	.skullcap {
		display: block;
		text-align: center;
		position: absolute;
		width: 100%;
		top: 50%;
		@include transform-translateY(-50%);
		img {
			display: inline-block;
			width: 20px;
			height: 24px;
		}
		span {
			display: block;
			color: $white;
			font-size: 11px;
			padding: 0 10px;
			
		}
		
	}
}
.item-thumb-l {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid $line-color-list;
	&.lg {

		a {
			&.thumb-itl {
				width: 100%;
				float: none;
				img {
					display: block;
					width: 100%;
				}
				.skullcap {
					img {
						width: 30px;
						height: 34px;
					}
					span {
						font-size: 14px;
					}
				}
				
			}
			&.title-itl {
				font-size: 16px;
				line-height: 22px;
				max-height: inherit;
				display: block;
			}
		}
		.w-itl {
			margin-left: 0;
		    min-height: inherit;
		    margin-top: 10px;
		    padding-left: 0;
		}
	}
	a {
		display: block;

		&.thumb-itl {
			float: left;
			width: 50%;
			margin-right: 10px;
			img {
				display: block;
				@include border-radius($radius);
			}
			.skullcap {
				
				img {
					display: inline-block;
				}
				span {
					margin-top: 0;
				}
			}
			position: relative;
			.icon-post {
				@extend .icon-post;
			}
		}
		&.title-itl {
			font-weight: $font-bold;
			color: $black;
			overflow: hidden;
			max-height: 90px;
			i {
				@extend .styleIcon; 
			}
		}
		&.title-author-itl {
			font-size: 12px;
			color: $grey;
			max-height: 18px;
			display: block;
	    	margin-top: 3px;
		}

	}
	.w-itl {
		margin-left: 50%;
	    position: relative;
	    padding-left: 10px;
		
	}
	span.spon {
		line-height: 18px;
		padding: 0 5px;
		margin-top: 3px;
		@include border-radius(2px);
		font-size: 10px;
		text-transform: uppercase;
		background-color: $red;
		color: $white;
		display: block;
		width: 50px;
	}
}

//slider voice
.slider-scroll {
	width: 100%;
	margin-bottom: 20px;
	display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-overflow-scrolling: touch;
    overflow: auto;

	.item-ss {
		min-width: 80%;
		display: block;
		margin-right: 10px;
		float: left;
		&:nth-child(1) {
			margin-left: 20px;
		}
		&:nth-last-child(1) {
			padding-right: 20px;
		    min-width: calc(80% + 20px);
		}
		img {
			display: block;
			@include border-radius($radius);
		}
	}
}
.view-more-block {
	text-align: center;
	margin: 10px 0 40px 0;
	.btn {
		display: inline-block;
		background-color: $white;
		color: $grey;
		font-weight: $font-bold;
		font-size: 12px;
		border: 1px solid $line-color-list;

		@include border-radius(4px);
		i {
			font-size: 9px;
    		margin-left: 5px;
		}
		&:hover {
			@include box-shadow(0,0,0,0,rgba($black,0));
		}
	}
}

//video

.item-vbs {
	position: relative;
	display: block;
	&.lg {
		
		span.icon-play {
			font-size: 48px;
		}
	}
	img {
		display: block;
	}
	span.icon-play {
		position:absolute;
		top: 50%;
		left: 50%;
		@include transform-translate(-50%,-50%);
		color: rgba($white,0.8);
		font-size: 28px;
	}
}
.title-vbs {
	font-weight: $font-bold;
	color: $black;
	margin-top: 5px;
	display: block;
	margin-bottom: 10px;
	&.lg {
		font-size: 16px;
		line-height: 20px;
		margin-bottom: 20px;
	}
}

ul.tags-of-block{
	margin: 0;
	// display: none;
	li {
		a {
			display: block;
			font-size: 14px;
			color: $black;
			padding: 15px 20px;
			text-transform: uppercase;
			border-bottom: 1px solid $line-color-list;
		}
	}
}
//loading
.loading-item {
	display: table;
    margin: 20px auto;
    img {
    	display: block;
    	width: 80px;
    	height: 80px;
    }
}

//Article
article, .category-cover, .author-cover, .voice-page {


	header {
		position: relative;
		.img-holder {
			@include border-radius(0);
		}

		img.feature-image {
			display: block;
			width: 100%;
		}

		.author-article {
			margin-top: -14px;
			a {
				position: relative;
			}
			img.responsive-img {
				display: inline-block;
				width: 30px;
				height: 30px;
				@include border-radius(27px);
				overflow: hidden;
				@include transform-translateY(6px);
				margin-right: 5px;
			}
			img.wave-avatar {
				width: 64px;
				height: 14px;
				position: absolute;
				left: -17px;
				top: -16px;
			}
			span {
				color: $black;
				font-size: 12px;
				display: inline-block;
				@include transform-translateY(2px);
			}
		}
	}
	.content-article {
		h1, h2, h3, h4, h5, h6 {
			font-size: 20px;
		    margin-bottom: 10px;
		    line-height: 24px;
		}
		h1.title-article {
			font-size: 24px !important;
			line-height: 30px !important;
			margin: 15px 0 10px 0 !important;
			display: block;
		}
		a {
			color: #0B5B99;			
		}
		.info-article {
			padding-bottom: 10px;
			border-bottom: 1px solid $line-color-list;
			a {
				text-transform: uppercase;
				font-size: 13px;
				color: $black;
			}
			time {
				margin-left: 10px;
				color: $grey;
			}
		}
		p.sapo-article {
			font-size: 16px;
			font-weight: $font-bold;
			font-style: italic;
			color: $black;
			line-height: 24px;
		}
		p {
			font-size: 18px;
			font-weight: $font-light;
			line-height: 26px;
		}
		figure {
			&.wp-caption {
				figure {
					margin-bottom: 0;
				}
			}
			margin: 0 0 20px;
			width: 100% !important;
			img {
				width: 100%;
				display: block;
			}
			figcaption {
				font-size: 13px;
				font-style: italic;
				font-weight: $font-normal;
				color: $black;
				padding: 10px 15px;
				background-color: rgba($black,0.05);
			}
			ul.image-related-post {
				margin: 0 20px;
				padding: 10px;
				background-color: $yellow-light;
				border: 1px dashed rgba($yellow,0.3);
				@include border-radius($radius);
				li {
					margin-bottom: 10px;
					position: relative;
					padding-left: 20px;
					&:before {
						content: "";
						display: block;
						position: absolute;
						width: 5px;
						height: 5px;
						top: 5px;
						left: 8px;
						border: 1px solid $yellow;
						@include border-radius(3px);
					}
					a {
						color: $black;
						font-size: 12px;
						font-weight: $font-bold;
						line-height: 16px;
						display: block;
					}
					&:nth-last-child(1) {
						margin-bottom: 0;
					}
				}
			}
        }
		.video-related-post {
			a {
				color: $black;
			}
		}
		
		.banner-middle-post {
			margin: 30px -23px; 
			width: calc(100% + 46px);
			.container-banner {
				padding-top: 150%;
				position: relative;
				.banner-720x1180 {
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					&:before, &:after {
						content:"";
						height: 50px;
						width: 100%;
						position: absolute;
						display: block;	
						left: 0;	
						z-index: 2;	
						opacity: 0.5;
						pointer-events: none;			
					}
					&:before {
						top: 0;
						background-image: linear-gradient(to bottom, rgba($black, 0.3), rgba($black, 0.0));
					}
					&:after {
						bottom: 0;
						background-image: linear-gradient(to top, rgba($black, 0.3), rgba($black, 0.0));
					}
					
					.inner-banner {
						position: relative;
						width: 100%;
						height: 100%;
						z-index: 1;
						a {
							display: block;
							position: absolute;
		    				top: 0px;
						    left: 0px;
						    width: 100%;
						    height: 100%;
						    margin: 0px;
						    padding: 0px;
						    overflow: hidden;
						    clip-path: inset(0px);
						    clip: rect(0px auto auto 0px);
						    img {
								position: fixed;
								@include transition(linear,top,0.3s);
							    top: 0;
							    left: 0;
							    width: 100%;
							    max-height: 100%;
							    margin: 0px;
							    padding: 0px;
							    bottom: 0px;
							}
						}
					}
				}
			}
		}
		.copyright-post {
			font-weight: $font-bold;
			font-size: 13px;
			text-transform: uppercase;
		}
		ul.tags-post {
			margin-top: 20px;
			li {
				display: inline-block;

				a {
					background-color: $line-color-list;
					color: $grey;
					@include border-radius($radius);
					padding: 3px 6px;
					margin: 0 5px 5px 0;
					font-size: 12px;
					display: block;
					text-transform: uppercase; 
				}
			}
		}
		
    }
    
    .news-related-post {
        margin: 0px -20px 30px -20px;
        padding: 20px 20px 0 20px;
        border-bottom: 1px solid $line-color-list;
        border: 1px dashed rgba($yellow,0.3);
        background-color: $yellow-light;
        .row {
            margin-bottom: 0;
        }
        h4 {
            font-size: 12px;
            text-transform: uppercase;
            font-weight: $font-normal;
            margin: 0 0 10px 0;
        }
        .img-holder{
            width: 100%;
            float: left;
            margin-right: 10px;
        }
        .item-thumb-l {
            border: none;
            .thumb-itl {
                width: 30%;
                .thumbnail-post {
                    .skullcap {
                        span {
                            display: none;
                        }
                    }
                }
            }
            .w-itl {
                margin-left: 30%;
                a {
                    font-size: 12px;
                }
            }
        }
    }
}
//nav bottom
.nav-bottom {
	@include box-shadow(0,0,30px,0,rgba($black,0.2));
	width: 100%;
	height: 48px;
	position: fixed;
	bottom: 0;
	@include transition(transform,linear,0.2s);
	@include transform-translateY(100%);
	z-index: 9;
	background-color: $yellow-light;
	border-top: 1px solid $yellow;
	&.is-show {
		@include transform-translateY(0);
	}

	a.left-nb {
		background-color: $fb-color;
		height: 24px;
		padding: 0 15px 0 34px;
		position: relative;
		@include border-radius(12px);
		margin-top: 11px;
		margin-left: 5px;
		display: inline-block;
		.icon-facebook {
			line-height: 24px;
			font-size: 14px;
			margin: 0 2px;
			left: 10px;
			top: 0;
			color: $white;
			position: absolute;
		}
		.share-fb {
			font-size: 12px;
			line-height: 24px;
			font-weight: $font-bold;
			display: block;
			text-align: left;
			color: $white;
			span {
				display: block;
				font-size: 11px;
				opacity: 0.8;
				line-height: 14px;
				font-weight: $font-light;
				text-transform: none;
			}
		}
	}
	button {
		display: block;
		border: none;
		padding: 0;
		background: none;
		&.left-nb {
			background-color: $fb-color;
			height: 24px;
			padding: 0 15px 0 34px;
			position: relative;
			@include border-radius(12px);
			margin-top: 11px;
			margin-left: 5px;
			.icon-facebook {
				line-height: 24px;
				font-size: 14px;
				margin: 0 2px;
				left: 10px;
    			top: 0;
				color: $white;
				position: absolute;
			}
			.share-fb {
				font-size: 11px;
				font-weight: $font-bold;
				display: block;
				text-align: left;
				color: $white;
				span {
					display: block;
					font-size: 11px;
					opacity: 0.8;
					line-height: 14px;
					font-weight: $font-light;
					text-transform: none;
				}
			}
		}
		&.right-nb {
			color: $black;
			width: 100%;
			text-align: right;
			.icon-arrow-right {
				line-height: 48px;
				font-size: 11px;
				margin-bottom: 4px;
				float: right;
			}
			.same-category {
				font-size: 13px;
				font-weight: $font-bold;
				display: block;
				padding-top: 8px;
				text-transform: uppercase;
				span {
					display: block;
					font-size: 11px;
					opacity: 0.8;
					line-height: 14px;
					text-transform: none;
					font-weight: $font-light;
				}
			}
		}
	}
}

.title-category, .title-author {
	&:before {
		width: 40px;
		height: 2px;
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		background-color: $yellow;
	}
	
	h1 {
		font-size: 18px;
		font-weight: $font-extra;
		text-transform: uppercase;
		margin: 0;
		padding: 10px 0;
	}
	h3 {
		font-size: 18px;
		text-transform: uppercase;
		margin: 0;
		padding: 10px 0;
		font-weight: $font-normal;
	}
}

.category-list-post {
    margin-top: 20px;
    h1{
        font-size: 26px;
    }
	.head-block {
		position: relative;
	}

	ul.list-news-ht {
		margin: 0;
		li {
			a {
				font-size: 14px;
				font-weight: $font-bold;
				color: $black;
				span.sapo-lnht {
					position: relative;
					float: left;
					 
					.icon-post {
						@extend .icon-post;
						bottom: auto;
						top: 20px;
					}
					
					.img-holder{
					    width: 100%;
					    display: block;
					    float: left;
					    img{
					        width: auto;
					    }
					}
					
				}
				.sapo-text {
					display: -webkit-box;
			    	-webkit-line-clamp: 4;
			    	-webkit-box-orient: vertical;
			    	max-height: 72px;
			    	overflow: hidden;
			    	font-size: 12px;
					line-height: 18px;
					font-weight: $font-normal;
				}
			}
			a.title-cate-lnht {
				font-size: 12px;
				color: #9B9B9B;
				display: block;
				margin-top: 3px;
				font-weight: $font-normal;
				margin-left: 50%;
			    padding-left: 10px;
			    margin-top: -20px;
			    position: relative;
			    z-index: 2;
			}
			.w-spon {
				padding-left: 10px;
				margin-left: 50%;
				margin-top: -22px;
				span.spon {
					line-height: 18px;
					padding: 0 5px;
					margin-top: 3px;
					@include border-radius(2px);
					font-size: 10px;
					text-transform: uppercase;
					background-color: $red;
					color: $white;
					display: inline-block;
				}
			}
			
		}
	}
}
.category-cover {
	.category-list-post {
		ul.list-news-ht {
			li {
				a {
					span.sapo-lnht {
						.icon-post {
							@extend .icon-post;
							bottom: auto;
							top: 63px;
						}
						
					}
				}
			}
		}
	}
}
.author-cover {
	.author-post-hot {
		background-color: $yellow-light;
		padding-top: 30px;
		.head-block {
			position: relative;
			padding: 0 20px 0 20px;
			border: none;
			background:none;
			margin: -1px 0 0 0;
			height: 28px;
			
			h3 {
				padding: 0;
			}
		}
		.content-hotest-p {
			margin: 0;
			padding-top: 20px;
		}
	}
	
	.category-list-post {
		margin-top: 20px;
		.head-block {
			position: relative;
		}
	}
	header {
		padding-top: 80%;
		overflow: hidden;
		&:before {
			z-index: 1;
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			background-color: rgba($yellow,0.2);
		}
		
		.bg-cover {
			overflow: hidden;
			position: absolute;
			width: 130%;
			height: 130%;
			top: 50%;
			left: 50%;
			z-index: 0;
			@include transform-translate(-50%,-50%);
			@include filter(37px);
			background-repeat: no-repeat;
			@include background-size(cover);

		}
	}
	.wave-article {
		z-index: 3;
	}
	.img-cover {
		text-align: center;
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 3;
		width: 90%;
		@include transform-translate(-50%,-50%);
		img {
			width: 60px;
			height: 60px;
			display: inline-block;
			@include border-radius(30px);
		}
		h1 {
			font-size: 18px;
			font-weight: $font-bold;
			color: $white;
			margin: 10px 0;
		}
		.intro-author {
			font-size: 13px;
			color: $white;
			max-height: 54px;
		}
	}
}
.search-result {

	.head-sr {
		background-color: $yellow-light;
		padding-bottom: 20px;
		h1 {
			font-size: 18px;
			font-weight: $font-extra;
			text-transform: uppercase;
			margin: 0;
			padding: 30px 0 20px 0;
		}
		.search-box {
			position: relative;
			.input-search {
				width: 100%;
				height: 44px;
				line-height: 44px;
			}
			.input-search {
				padding:0 85px 0 15px;
				box-sizing: border-box;
				border: 1px solid $line-color-list;
				background-color: $white;
			}
			button {
				position: absolute;
				
				border: none;
				background: none;
				&.search-submit {
					right: 0;
					top: 0;
					font-size: 16px;
					padding: 13px;
				}
				&.remove-keyword {
					background-color: $line-color-list;
					font-size: 10px;
					color: rgba($black,0.5);
					width: 30px;
					height: 30px;
					top: 7px;
					right: 48px;
					@include border-radius(20px);
				}

			}
		}
		.keyword-sr {
			font-size: 12px;
			span {
				display: block;
				margin-top: 10px;
				font-size: 18px;
				font-weight: $font-bold;
			}
		}
	}
	.category-list-post {
		margin-top: 20px;
	}
}
.tags-page {
	.category-list-post {
		margin-top: 20px;
	}
	.head-tp {
		background-color: $yellow-light;
		padding-bottom: 20px;
		.keyword-tp {
			padding-top: 30px;
			span {
				color: $grey;
				font-weight: $font-light;
				font-size: 13px;
			}

			h1 {
				font-size: 28px;
				font-weight: $font-bold;
				text-transform: uppercase;
				margin: 10px 0 0 0;
			}
		}
	}
	.video-list {
		margin-top: 20px;
	}
}

.voice-page {
	
	.voice-list {
		margin-top: 15px;
		.item-voice {
			margin-bottom: 15px;
			padding-bottom: 15px;
			border-bottom: 1px solid $line-color-list;
			display: block;
			img {
				@include border-radius($radius);
			}
			.title-voice {
				color: $black;
				font-weight: $font-bold;
				margin-top: 5px;
				display: block;
			}
		}
	}
	.row .col {
	    padding-left: 25px;
	    padding-right: 26px;
	}

	.slider-scroll {
		.item-ss {
			min-width: 94%;
			margin: 0 !important;
			padding: 0 !important;
		}
	}
}
.voice-post {

	.wave-article {
		top: 100%;
		bottom: 0;
		background-color: $black;
		position: relative;
		z-index: 3;
		&:before {
			content:"";
			margin-bottom: -1px;
			position: absolute;
			width: 100%;
			height: 400%;
			bottom: 100%;
			left: 0;
			z-index: 2;
			background-image: linear-gradient(to bottom, rgba($black, 0.0), $black);

		}
		svg {
			@include transform-rotateY(180deg);
			position: relative;
   			bottom: -7px;
		}
		.info-voice-post {
			position: absolute;
			bottom: 30px;
			z-index: 3;
			margin-right: 20px;
			h1 {
				font-size: 24px;
				margin: 0;
				line-height: 28px;
				color: $white;
				font-weight: $font-bold;
			}
			.author-article{
				position: relative;
				bottom: 0;
				line-height: 24px;
				margin-top: 10px;
				a {
					display: block;
					span {
						color: rgba($white,0.8);
					}
					img{
						width: 24px;
						height: 24px;
						float: left;
						@include transform-translate(0,0);
					}
				}
				
			}
		}
		
	}
	.content-article {
		h1,h2,h3,h4,h5,h6 {
			font-size: 20px;
		    margin-bottom: 10px;
		    line-height: 24px;
		}
		.info-article {
			border: none;
			text-align: right;
			margin-top: -20px;
			position: relative;
			z-index: 7;
			time {
				font-size: 12px;
			}
			a {
				display: block;
			    padding: 0 0 5px 0;
			}
		}
		.sapo-article {
			margin-top: 0;
		}
		.video-voice-post {
			margin: 0;
			.video-container {
				@include box-shadow(0,0,40px,0,rgba($black, 0.3));
				img, button {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
				button {
					display: block;
					background: none;
					border: none;
					i {
						font-size: 40px;
						color: rgba($white,0.8);
					}
				}
			}
			
		}
		figure {
			margin: 30px 0 20px 0;
			margin-bottom: 20px;
			position: relative;
			img {
				position: relative;
				z-index: 2;
				border: 5px solid $white;
				@include box-shadow(0,10px,40px,0,rgba($black, 0.15));
			}
			.style-color {
				display: block;
				width: 60px;
				height: 60px;
				
				background-color: #708b80;
				position: absolute;
				top: -20px;
				&.style-right {
					right: -20px;
					@include border-radius-custom(30px,0,30px,30px);
				}
				&.style-left {
					left: -20px;
					@include border-radius-custom(0,30px,30px,30px);
				}
			}
			figcaption {
				padding: 10px 0 0 0;
				font-size: 13px;
				font-style: italic;
				color: $black;
				font-weight: $font-light;
			}
			span.refer {
				font-size: 13px;
				font-style: italic;
				color: $grey;
				font-weight: $font-light;
			}
		}
		
	}
}
.slider-voice {
	position: relative;
	z-index: 1;
	overflow: hidden;
	ul.slides {
		margin: 0;
		position: relative;
		padding-top: 100%;
		z-index: 0;
		li {
			position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		    z-index: 1;
		    opacity: 0;
    		@include transform-translate(0,0);
			&.active {
				z-index: 2;
			}
		    a {
		    	display: block;
		    	img {
					@include background-size(cover);
					width: 100%;
				}
		    }
			
		
		}
	}


	&:before {
		content:"";
		position: absolute;
		width: 100%;
		height: 60%;
		bottom: 0;
		left: 0;
		z-index: 1;
		opacity: 0.6;
		background-image: linear-gradient(to bottom, rgba($yellow, 0.0), $yellow);
		pointer-events: none;
	}
	ul.indicators {
		z-index: 3;
		bottom: 30px;
		position: absolute;
		width: 100%;
		text-align: center;
		li.indicator-item {
			width: 6px;
			height: 8px;
			display: inline-block;
			margin: 0 3px;
			background-color: rgba($white,0.3);
			@include border-radius(3px);
			&.active {
				background-color: rgba($white,1);
			}
		}
	}
}
ul.list-news-ht.voice-same-category {
	li {
		> a {
			span.sapo-lnht img {
				width: 125px;
				height: 198px;
			}
			&.title-cate-lnht {
			    margin-top: 6px;
				text-align: left;
			}
		}
	} 
}


body {
	&.voice-post, &.article-post, &.video-post {
		.wrapper {
			margin-bottom: 48px;
			padding-bottom: 177px;
		}
		
	}
	&.voice-post {
		#same-category {
			ul.list-news-ht li > a span .sapo-text {
				-webkit-line-clamp: 10;
				max-height: 144px;
			}
		}
	}
	&.video-post {
		#same-category {
			.item-vbs {
				padding: 0 10px !important; 
			}
		}

	}
}
.modal-category {
	.head-block {
		position: relative;
		margin-bottom: 0;
		height: 36px;
		&:before {
			display: none;
		}
		h3 {
			font-size: 12px;
			padding: 10px 0;
			text-transform: none;
			font-weight: normal;
			color: $grey;
		}
	}
}

#same-category {
	&.sidenav {
		padding-top: 48px;
		.head-block {
			padding: 0 10px;
			@include box-shadow(0,0,30px,0,rgba($black,0.2));
			&:before {
				left: 10px;
			}
		}
	}
	.w-same-category {
		li {
			a .title-lnht {
				margin-top: 10px;
			}
		}
		li + li{
            padding-top: 0;
        }
	}
}
.home-fearture {
	.head-hotest-p .img-holder {
		@include border-radius(0);
	}
	&.video-fearture {
		
		.head-hotest-p {
			a {
				position: relative;
				display: block;
				.icon-play {
					position: absolute;
				    top: 50%;
				    left: 50%;
				    @include transform-translate(-50%,-50%);
				    color: rgba($white, 0.9);
				    font-size: 40px;
				}
			}
			.wave-hotest-p {
				a.title-category {
					position: absolute;
				}
			}
		}
		.content-hotest-p {
			.item-hotest-p {
				a {
					
					position: relative;
					display: block;
					.icon-play {
						position: absolute;
					    top: 50%;
					    left: 50%;
					    @include transform-translate(-50%,-50%);
					    color: rgba($white, 0.9);
					    font-size: 28px;
					}
				}
				.title-ihp {
					font-weight: $font-bold;
					margin-top: 5px;
				}
			}
		}
	}
}
.video-list {
			
	a {
		&.title-vbs {
			margin-bottom: 15px;
			padding-bottom: 15px;
			border-bottom: 1px solid $line-color-list;
		}
		&.item-vbs {
			.icon-play {
				font-size: 40px;
			}
		}
	}
}
.btn-large.btn-category {
  position: fixed;
  z-index: 99;
  line-height: 48px;
  width: 48px;
  height: 48px;
  background-color: $yellow;
  bottom: 15px;
  right: 20px;
  @include box-shadow(5px,5px,20px,0,rgba($yellow, 0.4));
  i {
    color: $black;
    line-height: 48px;
    font-size: 16px;
  }
}
.video-post {
	#same-category {
		.video-list {
			padding-top: 10px;
			a.title-vbs {
				padding: 5px 10px 0 10px;
			}
		}
	}
	.nav-bottom {
		bottom: 0 !important;
	}
}

.video-content-post {
	.content-article {
		h1,h2,h3,h4,h5,h6 {
			font-size: 20px;
		    margin-bottom: 10px;
		    line-height: 24px;
		}
		.video-fullwidth {
			margin: 0 -20px;
		}
		.author-article {
			margin-top: 10px;
			img {
				display: inline-block;
				width: 24px;
				height: 24px;
				@include border-radius(27px);
				overflow: hidden;
				@include transform-translateY(6px);
				margin-right: 5px;
			}
			span {
				color: $black;
				font-size: 12px;
			}
		}
		h1.title-article {
			font-size: 24px !important;
			line-height: 30px !important;
			margin: 10px 0 !important;
			display: block !important;
		}
		.info-article {
			padding-bottom: 10px;
			border-bottom: 1px solid $line-color-list;
			a {
				text-transform: uppercase;
				font-size: 13px;
				color: $black;
			}
			time {
				margin-left: 10px;
				color: $grey;
			}
		}
		p.sapo-article {
			font-size: 16px;
			font-weight: $font-light;
			line-height: 24px;
		}
	}
	
}


//footer
footer {
	background-color: $black;
	position:absolute;
	bottom:0;
	left: 0;
	width: 100%;
	p {
		padding: 0 0 10px 0;
		color: rgba($white,0.4);
		text-align: center;
	}
	ul.social-footer {
		   margin: 25px 0 0 0;
		   text-align: center;
		li {
			display: inline-block;
			a {
				color: $white;
				@include border-radius(20px);
			    width: 40px;
			    height: 40px;
			    line-height: 40px;
			    margin-left: 1px;
				text-align: center;
				display: block;
				background-color: rgba($white,0.2);
				
				
			}
			&:nth-last-child(1),&:nth-last-child(2) {
				a i {
					@include transform-translateX(-2px);
					display: block;
				}
			}
			
		}
	}
	.copyright {
		background-color: #000;
		padding: 10px 0;
		color: rgba($white,0.5);
		text-align: center;
		font-size: 12px;
	}
}
//scroll fix
.has-scroll {
	overflow-y: scroll !important;
    -webkit-overflow-scrolling: touch;
}
.w-list-menu-sn {
	// height: calc(100% - 98px); /* long edit */
	height: calc(100% - 64px);
}
.w-same-category {
	height: 100%;
}

.page-404 {
	padding: 20px 0 40px 0;
	.img-404 {
		text-align: center;
		padding: 20px;
		img {
			display: block;
			width: 100%;
		}
	}
	h1 {
		font-size: 24px;

	}
	h5 {
		font-size: 16px;
		line-height: 22px;
		color: $grey;
		font-weight: $font-normal;
	}
	.btn-back-home {
		display: table;
		line-height: 36px;
		background-color: $yellow;
		padding: 0 20px;
		margin: 30px auto 0 auto;
		font-weight: $font-extra;
		text-transform: uppercase;
		@include border-radius(4px);
		i {
			margin-right: 10px;
			text-transform: none;
			font-size: 9px;
			display: inline-block;
			@include transform-translateY(-1px);
		}
	}
}

//custom css
.img-holder {
    background-size: cover;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    display: block;
    span {
    	display: block;
    }
    .img-progressive{
        position: absolute;
        top: 0;
        left: 0;
        width: 100% ;
        height: 100% ;
        background-color: rgba($black,0.05);
        background-size: cover;
        img{
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            width: 100% !important;
            height: 100% !important;
        }
        img.progressive-img{
            opacity: 0;
            -webkit-transition: visibility 0s linear 0s,opacity .4s .3s;
            transition: visibility 0s linear 0s,opacity .4s .3s;
            display: block;
            
        }
        img.progressive-img.loaded {
            opacity: 1;
            
        }
        img.img-small
        {
            display: block;
            width: 100%;
			height: auto;
			display: none;
            
            // filter: blur(50px);
            /* this is needed so Safari keeps sharp edges */
            transform: scale(1) translateZ(0);
            -webkit-transform: scale(1) translateZ(0);
        }
    }
}

.single{
    .content-article{
    	h1,h2,h3,h4,h5,h6 {
			font-size: 20px;
		    margin-bottom: 10px;
		    line-height: 24px;
		}
        img{
            max-width: 100%;
            height: auto;
            display: block;
        }
        img.aligncenter, .aligncenter img{
            width: 100%;
            text-align: center;
        }

        img.alignleft, .alignleft img{
            text-align: left;
            display: inline-block;
            width: auto;
        }

        img.alignright, .alignright img{
            text-align: right;
            display: inline-block;
            width: auto;
        }
        .wp-caption{
            max-width: 100% !important;
        }
        .wp-caption.aligncenter{
            width: 100% !important;
        }

        .img-holder{
            border-radius: 0;
        }
        blockquote {
        	border-left: 4px solid $yellow;
        	padding-left: 1rem;
        	p {
        		font-style: italic;
        		font-weight: $font-bold;
        	}
        }
    }
}

.album-post {
	margin-bottom: 20px;
	a.img-ap {
		display: block;
		background-color: $line-color-list;
		img {
			width: 100% !important;
			height: 100% !important;
			display: block;
			max-width: initial !important;
			object-fit: cover;
		}
	}
	&.row {
		margin-left: 0;
		.col {
			padding-left: 1%;
			padding-right: 1%;
			margin-bottom: 2%;
			width: 25%;

			&hide{
				display: none;
			}
			
			&:nth-child(1) {
				padding-left: 0;
				width: 50%;
				a.img-ap {
					padding-top: 97.848714069591528%;
					span {
						img {
							z-index: 1;
						}
					}
				}
			}
			a.img-ap {
				padding-top: 100%;
				position: relative; 
				display: block;
				overflow: hidden;
				span {
					display: block;
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0; 
					left: 0;
					img {
						position: absolute;
						width: auto;
						height: 100%;
						left: 50%;
						@include transform-translateX(-50%);
						
					}
				}
				span.more-photo {
					z-index: 3;
					position: absolute;
					top: 0;
					left: 0;
					color: $white;
					font-size: 16px;
					font-weight: $font-bold;
					width: 100%;
					height: 100%;
					background-color: rgba($yellow,0.8);
					margin-left: 0;
					margin-top: 0;
					b {
						position: absolute;
						@include transform-translate(-50%,-50%);
						top: 50%;
						left: 50%;
					}
				}
				
			}
			
		}
	}
	&.photo-5s {

		&.row {
			margin-right: -1%;
			.col {
				&:nth-child(1) {
					padding-left: 0;
					a.img-ap {
						padding-top: 97.848714069591528%;
						
					}
				}
				
			}
		}
	}
	&.photo-4s {

		&.row {
			margin-right: 0;
			.col {
				width: 50%;	
				a.img-ap {
					padding-top: 100%;
					
				}
				&:nth-child(2n) {
					padding-right: 0;
				}
				&:nth-child(2n+1) {
					padding-left: 0;
				}					
			}
		}
	}
	&.photo-3s {

		&.row {
			margin-right: -2%;
			@include transform-translateX(-1%);
			.col {
				width: 33.33333333%;
				padding-left: 1%;
				padding-right: 1%;	
				a.img-ap {
					padding-top: 100%;
					
				}
								
			}
		}
	}
	&.photo-2s {

		&.row {
			margin-right: 0;
			.col {
				width: 50%;	
				a.img-ap {
					padding-top: 100%;
					
				}
				&:nth-child(2n) {
					padding-right: 0;
				}
								
			}
		}
	}
	
}



.new-post {
	.title-category-itl {
		color: $grey;
		text-transform: uppercase;
		font-size: 12px;
		margin-top: 5px;
		font-weight: $font-bold;
	}
	.list-news-ht {
		margin: 20px;
	}
}

.video-related-post {
	margin: 0 -20px;

	.thumb-vrp {
		position: absolute;
		width: 100%;
		height: 100%;
		img {
			width: 100%;
		}
		.icon-play {
			font-size: 50px;
			color: rgba($white,0.8);
			position: absolute;
			top: 50%;
			left: 50%;
			@include transform-translate(-50%,-50%);
		}
	}
	.title-vrp {
		background-color: rgba($black,0.05);
		padding: 10px 20px 15px 20px;
		display: block;
		font-size: 16px;
		font-weight: $font-bold;
		line-height: 20px;
	}

}
.trending {
	background-color: $black;
	padding-top: 20px;
	position: relative;
	&:before {
		position: absolute;
		width: 0;
		height: 0;
		border-style: solid;
		z-index: 2;
		content: "";
		border-width: 30px 0 0 30px;
		border-color: transparent transparent transparent $yellow;
		bottom: 0;
		left: 0;
	}
	h3 {
		margin: 0;
		
		&.sticky {
			top: 0;
			right: 0;
			position: absolute;
			width: 0;
			height: 0;
			border-style: solid;
			z-index: 2;
			border-width: 0 90px 90px 0;
			border-color: transparent $yellow transparent transparent;
		}

		span {
			position: absolute;
			@include transform-rotate(45deg);
			text-transform: uppercase;
			font-size: 12px;
			color: $black;
			bottom: -58px;
			left: 23px;	
		}
	}
	.item-thumb-trend {
		display: block;
		&.lg {
			.title-itt {
				font-size: 20px;
				line-height: 24px;
			}
		}
		.title-itt {
			color: rgba($white,0.5);
			font-weight: $font-bold;
			padding: 10px 0 0;
			display: block;
		}
	}
	.slider-scroll {
		padding: 20px 0 40px 0;
		background-color: rgba($white,0.05);
		margin-bottom: 0;
		.item-ss {
			min-width: 60%;
			&:nth-last-child(1) {
				padding-right: 20px;
    			min-width: calc(60% + 20px);
			}
			.title-iss {
				color: rgba($white,0.5);
				font-size: 16px;
				font-weight: $font-bold;
				display: block;
				margin-top: 10px;
				line-height: 20px;
			}
		}
		
	} 
	
	
}

svg#countdown-close {
  width: 40px;
  height: 40px;
  circle {
    fill: none;
    stroke: $black;
    stroke-width: 1;
    @include transition(all,10s,ease-in-out);
  } 
}


.best-post {
	position: fixed;
	bottom: -150px;
	width: 100%;
	left: 0;
	z-index: 8;
	@include transition(bottom,0.3s,ease-in-out);	

	&.active {
		left: 0;
		bottom: 48px;
	}
	&.action-bp {
		bottom: 48px;
		.content-bp {
			opacity: 1;
			visibility: visible;
			z-index: 9;
			@include transition(all,0.3s,ease);
			.bird-bp {
				opacity: 1;
				left: 30px;
			}
			.btn-countdown-close {
				right: 20px;
				opacity: 1;
			}
		}
		.head-bp {
			visibility: visible;
			z-index: 8;
			#Oval1, #Oval2, #Oval3, #Oval4, #Oval5, #Oval6 {
				will-change: transform;
				//@include transform-translate3d(0,0,0);
				opacity: 1;
			}
		}

	}
	.head-bp {
		position: relative;
		visibility: hidden;
		z-index: -1;
		@include transition(all,0.3s,ease);
		svg {
			width: 100%;
			height: auto;
			overflow: inherit;
			will-change: transform;
			@include transform-rotate(-20deg);
			position: absolute;
			top: -99px;
			
		}
		#Oval1, #Oval2, #Oval3, #Oval4, #Oval5, #Oval6 {
			position: absolute;
			background-color: $yellow;
			@include border-radius(100%);
			will-change: transform;
			@include transform-translate3d(0,0,0);
			opacity: 0;
		}
		#Oval1 {
			@include transform-translate3d(0, 60px, 0);
			@include transition-with-delay(all,0.3s,ease,0.1s);
		}
		#Oval2 {
			@include transform-translate3d(0, 60px, 0);
			@include transition-with-delay(all,0.3s,ease,0.2s);
		}
		#Oval3 {
			@include transform-translate3d(0, 60px, 0);
			@include transition-with-delay(all,0.3s,ease,0.3s);
		}
		#Oval4 {
			@include transform-translate3d(0, 60px, 0);
			@include transition-with-delay(all,0.3s,ease,0.4s);
		}
		#Oval5 {
			@include transform-translate3d(0, 60px, 0);
			@include transition-with-delay(all,0.3s,ease,0.5s);
		}
		#Oval6 {
			@include transform-translate3d(0, 60px, 0); 
			@include transition-with-delay(all,0.3s,ease,0.6s);
		}
	}
	.content-bp {
		opacity: 0;
		visibility: hidden;
		z-index: -1;
		@include transition(all,0.3s,ease);
		position: relative;
		padding: 10px 20px 10px 10px;
		width: 100%;
		height: 100%;
		background-color: $yellow;
		.bird-bp {
			position: absolute;
			bottom: 100%;
			opacity: 0;
			left: -60px;
			@include transition-with-delay(all,0.3s,ease,0.4s);
		}
		.btn-countdown-close {
			position: absolute;
			bottom: 100%;
			width: 38px;
			height: 38px;
			border: 1px solid rgba($black,0.1);
			@include border-radius(100%);
			background: none;
			padding: 0;
			opacity: 0;
			right: -60px;
			@include transition-with-delay(all,0.3s,ease,0.8s);
			svg {
				@include transform-translate(-2px,-2px);
			}
			i {
				position: absolute;
				left: 50%;
				top: 50%;
				@include transform-translate(-50%,-50%);
			}
		}
		.post-bp {
			display: table;
			height: 76px;
			position: relative;
			
			.img-holder {
				float: left;
				width: 120px;
				margin-right: 15px;
				@include border-radius(40px);
				.img-progressive {
					background-color: transparent;
				}

			}
			.title-bp  {
				display: table-cell;
				vertical-align: middle;
				
				.title-middle {
					font-weight: $font-bold;
					overflow: hidden;
					display: -webkit-box;
					-webkit-line-clamp: 3;
					-webkit-box-orient: vertical; 
				    max-height: 54px;
					
				}
			}
			
			
		}
	}
}

.a2a_svg {
	height: 36px!important;
	line-height: 36px!important;
    width: 36px!important;
    border-radius: 18px !important;
    margin-top: 5px !important;
}
.a2a_svg svg {
	top: 1px !important;
}

.top-topic {
	padding: 20px 0 0 0;
	min-height: 470px;
	background-color: $black;
	.item-tt {
		.head-tt {
			padding: 0 100px 0 20px;
			span {
				font-size: 12px;
				color: rgba($white,0.5);
			}
			h3 {
				color: $white;
				margin: 0;
				font-size: 18px;
				text-transform: uppercase;
			}
		}
		.content-tt{
			margin-top: 20px;
			ul.list-item-tt {
				padding: 0 20px;
				margin-top: 20px;
				margin-bottom: 0;
				li {
					float: left;
					width: calc(50% - 5px);
    				margin-right: 10px;
					&:nth-last-child(1) {
						margin-right: 0;
					}
					a {
						position: relative;
						.title-item-tt {
							font-weight: $font-bold;
							margin-top: 10px;
    						display: block;
    						color: rgba($white,0.6);
						}
					}
				}
			}
		}
	}
	.owl-nav {
		position: absolute;
		right: 0;
		top: -20px;
		background-color: $black;
		height: 78px;
		&:before {
			position: absolute;
			width: 100%;
			height: 100%;
			right: 100%;
			top: 0;
			content: "";
			background-image: linear-gradient(to right , rgba($black, 0.0), $black);
		}
		button {
			width: 34px;
			height: 34px;
			background-color: rgba($white,0.1) !important;
			margin: 22px 2px;
			@include border-radius(17px);
			&:nth-last-child(1) {
				margin-right: 20px;
			}
			span {
				font-size: 18px;
				color: rgba($white,0.6);
			}
		}
	}
}


.wrapper-random-post {
	height: 56px;
	padding: 11px;
	position: relative;
	&:before {
		left: 50%;
		top: 100%;
		margin-top: -14px;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: transparent;
		border-bottom-color: $white;
		border-width: 10px;
		opacity: 0;
		visibility: hidden;
		z-index: -1;
		@include transform-translate(-50%,40px);
		@include transition(all,0.3s,ease);
	}
	.btn-random {
		width: 34px;
		height: 34px;
		@include border-radius(17px);
		border: 1px solid $black;
		position: relative;
		svg {
			position: absolute;
			top: 50%;
			left: 50%;
			@include transform-translate(-50%,-50%);
		}
	}
}
.account-sidenav {
	width: 180px;
}

.tip-random-post {
	position: absolute;
	background-color: $white;
	@include border-radius(5px);
	padding: 40px 20px;
	right: -103px;
	top: 100%;
	width: 280px;
	margin-right: 30px;
	@include box-shadow(0,20px,70px,0,rgba($black,0.2));
	text-align: center;
	z-index: -1;
	visibility: hidden;
	opacity: 0;
	@include transform-translateY(40px);
	@include transition(all,0.3s,ease);

	
	
	.title-trp {
		font-size: 20px;
		text-transform: uppercase;
		font-weight: $font-bold;
		line-height: 24px;
		margin-bottom: 15px;
		color: $black;
	}
	.content-trp {
		margin-bottom: 25px;
		color: $black;
		line-height: 20px;
	}
	.btn-read-now {
		display: inline-block;
		background-color: $yellow;
		color: $black;
		padding: 10px 30px;
		font-weight: $font-bold;
		font-size: 13px;
		@include border-radius(4px);
		line-height: 20px;
	}
	.btn-read-later {
		margin-top: 5px;
		display: block;
		padding: 0 20px 10px;
		color: $blue;
		line-height: 20px;
	}
}
.callPostRandom {
	.btn-random {
		position: relative;
		z-index: 2;
		box-shadow: 0 0 0 0 rgba($black, .5);
		background-color: $black;
		@include border-radius(100%);
		-webkit-animation: pulse 1.5s infinite;
		svg g {
			fill: $yellow;
		}
	}
	.wrapper-random-post:before {
			@include transform-translate(-50%,0);
			opacity: 1;
			visibility: visible;
			z-index: 1;
	}
	.tip-random-post {
		z-index: 2;
		opacity: 1;
		visibility: visible;
		@include transform-translateY(5px);
	}
}

.nav-series-post {
	position: fixed;
	bottom: 48px;
	z-index: 8;
	left: 0;
  right: 0;
	@include transition(transform,linear,0.2s);
	@include transform-translateY(130px);
	&.is-show {
		@include transform-translateY(0); 
	}
	.series-post {
		background-color: $black;
		padding: 10px 60px 10px 10px;
		position: relative;
		&:before {
			right: 15px;
			top: -1px;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: transparent;
			border-top-color: $white;
			border-width: 10px;
			opacity: 0;
			visibility: hidden;
			z-index: -1;
			@include transition(all,0.3s,ease);
		}
		.serie-next {
			.head-pr {
				text-transform: uppercase;
				font-size: 10px;
				color: $yellow;
				display: block;
				margin-bottom: 3px;
			}
			.title-pr {
				color: $white;
				font-size: 13px;
				font-weight: $font-bold;
				display: block;
                line-height: 16px;
                max-height: 32px;
                overflow: hidden;
			}
		}
		.btn-series {
			position: absolute;
			right: 10px;
			top: 50%;
			@include transform-translateY(-50%);
			border: none;
			background-color: rgba($white,0.2);
			width: 34px;
			height: 34px;
			@include border-radius(17px);
			svg g {
				fill: $white;
			}
		}
	}

	ul.list-series {
		@include box-shadow(-20px,0,70px,0,rgba($black,0.5));
		padding: 0 20px;
		margin: 0;
		padding: 0;
		max-height: 0;
		overflow: hidden;
		background-color: $white;
		@include transition(max-height,0.3s,ease);
		li {
			border-bottom: 1px solid $line-color-list;
			
			&:nth-child(1) {
				padding: 10px;
				text-align: center;
				text-transform: uppercase;
				font-weight: $font-bold;
			}
			&:nth-last-child(1) {
				border: none;
			}
			&:hover {
				a {
					background-color: $yellow;
					color: $black;
				}
			}
			a {
				position: relative;
				padding: 10px 20px 10px 50px;
				font-size: 13px;
				display: block;
				span {
					width: 50px;
					position: absolute;
					top: 50%;
					@include transform-translateY(-50%);
					text-align: center;
					left: 0;
					color: rgba($black,0.4);
				}
			}
			
			&.reading {
				
				a {
					background-color: rgba($yellow,0.1);
					font-weight: $font-bold;
					line-height: 16px;
					span {
						font-weight: $font-normal;
					}
				}
			}
		}
	}
}
.open-series-list {
	ul.list-series {
		max-height: 60vh;
		overflow: scroll; 
	}
	&.nav-series-post .series-post {
		.btn-series {
			background-color: $purple;
		}
		&:before {
			opacity: 1;
			visibility: visible;
			z-index: 1;
		}
	}
	
}

// More CSS
.modal{
    display: block;
    &.modal-category{
        display: none;
        &.open{
            display: block;
        }
    }
}
.bottom-sheet{
    bottom: -100%;
    transition: all 0.3s ease-in-out;
    &.open{
        z-index: 1003;
        opacity: 1;
        bottom: 0px;
    }
}
.sidenav{
    transition: all 0.3s ease-in-out;
    transform: translateX(105%);
    width: 280px;
    left: auto;
    right: 0;
    &.open{
        transform: translateX(0%);
        z-index: 10000;
    }
}