

/* Background Color */ 

$yellow: #FFCC05;
$yellow-light: #fffdf4;
$yellow-light-more: #fffae8;
$black: #171717;
$red: #EF2525;
$grey: #9B9B9B;
$greyMore: #E8E8E8;
$white: #fff;
$purple: #532CC1;
$bg-body: #fff;
$radius: 0;
$blue: #0B5B99;

$border-color-form: #e2e2e2;
$line-color-list: #f4f4f4;

/* link color */

$line-height: 18px;

/* Font Color */
$font-size:14px;
$font-body: SF Optimized, system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', Helvetica, Arial, sans-serif; 
$font-color: $black;
$font-color-white: #ffffff;
$fb-color: #4267b2;


$font-light: normal;
$font-normal: normal;
$font-semibold: bold;
$font-bold: bold;
$font-extra: bold;