<div *ngIf="!more">
    <div class="loading-content loading-item" *ngIf="load">
        <svg width="29px" height="53px" viewBox="0 0 29 53" version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>
                <circle id="path-1" cx="1.5" cy="1.5" r="1.5"></circle>
                <circle id="path-2" cx="8.5" cy="1.5" r="1.5"></circle>
                <circle id="path-3" cx="15.5" cy="1.5" r="1.5"></circle>
            </defs>
            <g class="16-assets" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-313.000000, -343.000000)">
                <g class="loading-content" transform="translate(313.000000, 344.000000)">
                    <g class="long" stroke="#282828">
                        <path d="M0.615494267,4.40793453 L6.77776115,1.05396461 L8.76790102,5.11100979 L11.712867,4.03970912 L9.66622039,0.0726685192 L19.3443092,0.0726685192 L17.8911212,4.03970912 L20.2919686,5.11100979 L22.504552,1.05396461 L28.4311445,4.40793453 C24.9791798,8.22624416 22.5305543,14.4924594 21.0852681,23.2065803 C19.6399818,31.9207011 17.4526656,38.207343 14.5233194,42.0665057 C11.0866069,35.9682625 8.93650244,29.6816207 8.07300592,23.2065803 C7.20950941,16.7315398 4.72367219,10.4653246 0.615494267,4.40793453 Z"
                            id="Path-2" stroke-width="0.7" fill="#FFCC05"></path>
                        <polyline id="Path-4" stroke-width="0.5" points="6.35899107 15.0784011 9.73457976 14.0936853 11.1152738 19.4988842 14.8132954 19.1733357 14.3819147 24.3544806 11.4322628 24.3544806"></polyline>
                        <polyline id="Path-6" stroke-width="0.5" points="15.1101626 0.0789606324 15.1101626 5.55145771 11.4601027 6.26274008"></polyline>
                        <polyline id="Path-8" stroke-width="0.5" points="22.0246582 7.87119572 18.695722 17.092698 15.574896 16.046429 14.7877985 19.0342937"></polyline>
                        <path d="M20.9011388,10.8777316 L23.7784345,12.3573357" id="Path-10" stroke-width="0.5"></path>
                        <polyline id="Path-3" stroke-width="0.5" points="3.94387916 10.1860095 10.1268192 7.14883376 12.2068186 13.2231852 16.5065682 13.2231852 17.2976626 9.40004244 19.1836095 9.80383197"></polyline>
                        <path d="M8.57557137,10.1440164 L9.68954665,13.9086493" id="Path-5" stroke-width="0.5"></path>
                        <path d="M13.7745361,5.83952707 L14.2770327,11.0478922" id="Path-7" stroke-width="0.5"></path>
                        <polyline id="Path-9" stroke-width="0.5" points="14.7875228 21.8693694 17.2993164 22.3301983 18.2074211 19.6980432 21.4837095 20.5879669"></polyline>
                    </g>
                    <g class="mo" transform="translate(8.500000, 29.000000)">
                        <polygon class="Path-11" fill="#282828" points="0.53499874 0.806763317 12.3280935 0.806763317 6.43154612 15.1247405 6.0455086 15.499942 1.37626008 5.74525149"></polygon>
                        <polygon class="Path-15" fill="#FFFFFF" points="3.5 4 6.01965332 14.6535388 2 5"></polygon>
                    </g>
                    <ellipse class="mat1" stroke="#282828" stroke-width="0.7" fill="#FFFFFF" cx="8.40322581" cy="29.2546689"
                        rx="5.64516129" ry="5.60271647"></ellipse>
                    <ellipse class="mat2" stroke="#282828" stroke-width="0.7" fill="#FFFFFF" cx="20.8225806" cy="29.2546689"
                        rx="5.64516129" ry="5.60271647"></ellipse>
                    <ellipse class="trong1" fill="#000000" cx="8.40322581" cy="29.2546689" rx="1.12903226" ry="1.12054329"></ellipse>
                    <ellipse class="trong2" fill="#000000" cx="20.8225806" cy="29.2546689" rx="1.12903226" ry="1.12054329"></ellipse>
                    <g class="cham-mc" transform="translate(6.000000, 48.000000)">
                        <g class="cham">
                            <use fill="#FFCC05" fill-rule="evenodd" xlink:href="#path-1"></use>
                            <circle stroke="#000000" stroke-width="0.5" cx="1.5" cy="1.5" r="1.75"></circle>
                        </g>
                        <g class="cham">
                            <use fill="#FFCC05" fill-rule="evenodd" xlink:href="#path-2"></use>
                            <circle stroke="#000000" stroke-width="0.5" cx="8.5" cy="1.5" r="1.75"></circle>
                        </g>
                        <g class="cham">
                            <use fill="#FFCC05" fill-rule="evenodd" xlink:href="#path-3"></use>
                            <circle stroke="#000000" stroke-width="0.5" cx="15.5" cy="1.5" r="1.75"></circle>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
    </div>
    <div class="view-more-block" *ngIf="!load" (click)="loadData()">
        <a class="btn waves-effect waves-light">Xem thêm<i class="icon-arrow-right right"></i></a>
    </div>
</div>
<div class="loading-content loading-item" *ngIf="more">
    <p>Không còn bài nào</p>
</div>