<ngx-json-ld [json]="schema"></ngx-json-ld>
<section class="home-fearture video-fearture">
    <div class="head-hotest-p">
        <a [routerLink]="link">
            <span class="img-holder">
                <span class="img-ratio-fill" style="padding-bottom: 62.500000%;"></span>
                <span class="img-progressive img-background" [ngStyle]="{'background-image': 'url(' + headImage + ')'}"></span>
            </span>
            <span class="icon-play"></span>
        </a>
        <div class="wave-hotest-p" *ngFor="let row of first | slice:0:1">
            <div class="container"><a [routerLink]="row.cate.link" class="title-category" [innerHTML]="row.cate.name">Title</a></div>
            <svg viewBox="0 0 360 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs></defs>
                <g id="16-icon" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(0.000000, -166.000000)">
                    <path d="M0,175.059613 C38.2539063,161.45805 87.3525391,163.412803 147.295898,180.92387 C237.210938,207.190472 279.543945,209.343792 360,193.775433 C360,205.558636 360,210.021201 360,207.163128 L0,207.163128 L0,175.059613 Z"
                        id="wave-light" fill="#FFFDF4"></path>
                </g>
            </svg>
        </div>
    </div>
    <div class="content-hotest-p">
        <div class="container" *ngFor="let row of first | slice:0:1">
            <h2 class="title-article"><a [routerLink]="row.link" [innerHTML]="row.title">Title</a></h2>
            <p class="sabo-hotest-p" [innerHTML]="row.excerpt">Description</p>
        </div>
        <div class="row">
            <div class="col s6" *ngFor="let row of first | slice:1:3">
                <a class="item-vbs" [routerLink]="row.link">
                    <span class="img-holder">
                        <span class="img-ratio-fill" style="padding-bottom: 62.500000%;"></span>
                        <span class="img-progressive img-background" [ngStyle]="{'background-image': 'url(' + row.image + ')'}"></span>
                    </span>
                    <span class="icon-play"></span>
                </a>
                <a [routerLink]="row.link" class="title-vbs" [innerHTML]="row.title">Title</a>
            </div>
        </div>
    </div>
</section>
<section class="video-list" *appShellNoRender>
    <div class="container">
        <div class="row video-list-row">
            <div class="col s12" *ngFor="let row of news">
                <a class="item-vbs" [routerLink]="row.link">
                    <span class="img-holder">
                        <span class="img-ratio-fill" style="padding-bottom: 62.500000%;"></span>
                        <span class="img-progressive img-background" [ngStyle]="{'background-image': 'url(' + row.image + ')'}"></span>
                    </span>
                    <span class="icon-play"></span>
                </a>
                <a [routerLink]="row.link" class="title-vbs" [innerHTML]="row.title">Title</a>
            </div>
        </div>
        <angular-loader (loadClick)="loadMore()"></angular-loader>
    </div>
</section>
<section>
    <a class="btn-floating btn-large waves-effect waves-light btn-category" style="bottom: 60px" data-target="modal-video" modal><i class="icon-category-video">add</i></a>
    <div id="modal-video" class="modal bottom-sheet">
        <ul id="section-video" class="tags-of-block modal-close">
            <li *ngFor="let row of menu">
                <a [routerLink]="row.slug" [innerHTML]="row.title">Dễ thương</a>
            </li>
        </ul>
    </div>
</section>