@font-face {
  font-family: 'lbf';
  src: url('../font/lbf.eot?1619138');
  src: url('../font/lbf.eot?1619138#iefix') format('embedded-opentype'),
       url('../font/lbf.woff2?1619138') format('woff2'),
       url('../font/lbf.woff?1619138') format('woff'),
       url('../font/lbf.ttf?1619138') format('truetype'),
       url('../font/lbf.svg?1619138#lbf') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'lbf';
    src: url('../font/lbf.svg?1619138#lbf') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "lbf";
  font-style: normal;
  font-weight: normal;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-address:before { content: '\e800'; } /* '' */
.icon-arrow-down-o:before { content: '\e801'; } /* '' */
.icon-arrow-prev:before { content: '\e802'; } /* '' */
.icon-arrow-right:before { content: '\e803'; } /* '' */
.icon-camera:before { content: '\e804'; } /* '' */
.icon-category-video:before { content: '\e805'; } /* '' */
.icon-close:before { content: '\e806'; } /* '' */
.icon-trend:before { content: '\e807'; } /* '' */
.icon-facebook:before { content: '\e808'; } /* '' */
.icon-fb:before { content: '\e809'; } /* '' */
.icon-photo:before { content: '\e80a'; } /* '' */
.icon-play:before { content: '\e80b'; } /* '' */
.icon-remove:before { content: '\e80c'; } /* '' */
.icon-search:before { content: '\e80d'; } /* '' */
.icon-hot:before { content: '\e80e'; } /* '' */
.icon-email:before { content: '\e80f'; } /* '' */
.icon-instagram:before { content: '\e810'; } /* '' */
.icon-mail:before { content: '\e811'; } /* '' */
.icon-tumrble:before { content: '\e812'; } /* '' */
.icon-youtube:before { content: '\e813'; } /* '' */
