<ngx-json-ld [json]="schema"></ngx-json-ld>
<div #singleContent>
    <article class="single" *ngFor="let row of seriesHis; let last = last" [ngClass]="{'single-content': last}">
        <header>
            <span class="img-holder">
                <span class="img-ratio-fill" style="padding-bottom: 62.500000%;"></span>
                <span class="img-progressive img-background" [ngStyle]="{'background-image': 'url(' + row.image + ')'}"></span>
            </span>
            <div class="container">
                <div class="author-article">
                    <a *ngIf="row.author.slug" (click)="destroySeries()" (click)="destroySeries()" [routerLink]="['/but-danh/', row.author.slug]">
                        <img class="wave-avatar" src="http://static-mlb.lostbird.vn/data/themes/lost-bird-v2-0/images/wave-avatar.svg"
                            [alt]="row.author.name">
                        <img width="80" height="79" [src]="row.author.avatar" onError="this.src='http://placehold.it/720x340/fffdf4/333333?text=+'"
                            class="responsive-img" [alt]="row.author.name">
                        <span>{{row.author.name}}</span>
                    </a>
                </div>
            </div>
        </header>
        <div class="content-article">
            <div class="container">
                <h1 class="title-article">{{row.title}}</h1>
                <div class="info-article" *ngIf="row.cate.name">
                    <a (click)="destroySeries()" [routerLink]="[row.cate.link]" [title]="row.cate.name">{{row.cate.name}}</a>
                    <time class="post-time">{{row.date | date:'hh:mm | dd/MM/yyyy'}}</time>
                </div>
                <div [innerHTML]="row.content | safeHtml"></div>
                <div class="copyright-post" *ngIf="row.source !=''" [innerHTML]="row.source | authorFollow"></div>
                <!-- <div class="more" *ngIf="row.more">
                    <p style="margin-bottom: 5px;"><b>Xem thêm:</b></p>
                    <div class="news-related-post">
                        <div class="row">
                            <div class="col s12">
                                <div class="item-thumb-l clearfix" *ngFor="let row of row.more">
                                    <a (click)="destroySeries()" [routerLink]="[row.link]" class="clearfix thumb-itl">
                                        <span class="img-holder">
                                            <span class="img-ratio-fill" style="padding-bottom: 62.500000%;"></span>
                                            <span class="img-progressive">
                                                <img class="responsive-img loaded progressive-img" [src]="row.image">
                                            </span>
                                        </span>
                                    </a>
                                    <div class="w-itl">
                                        <a (click)="destroySeries()" [routerLink]="[row.link]" class="title-itl" [innerHTML]="row.title"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <ul class="tags-post" *ngIf="row.tags">
                    <li *ngFor="let row of row.tags">
                        <a (click)="destroySeries()" [routerLink]="['/tag/', row.slug]" class="badge badge-pill badge-light">{{row.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </article>

    <section class="block" *appShellNoRender>
        <div class="head-block clearfix">
            <h3>Bình luận</h3>
        </div>
        <div class="container-bp">
            <div class="comment-form show-comment" [ngClass]="{'active-btn': cFocus}">
                <a href="#" class="avatar-form"><img class="img-default" src="../../assets/images/user-default.svg" alt="User"></a>
                <div class="input-form">
                    <form #comment="ngForm" (ngSubmit)="commentSubmit(comment)">
                        <span class="status">Bạn nghĩ gì về bài này?</span>
                        <textarea class="input-comment" name="commentContent" ngModel (focus)="cFocus = true" (focusout)="cFocus = false"></textarea>
                        <button class="btn-submit-comment" type="submit">Đăng nhập để bình luận</button>
                    </form>
                </div>
                <div class="note-comment-form" *ngIf="cFirst">
                    <p>Trở thành người đầu tiên bình luận cho bài viết này!</p>
                </div>
            </div>
            <div class="user-comment" *ngFor="let row of cGone" [id]="'comment' + row.id" [attr.data-post-id]="post.id">
                <div class="avatar-form"><img [src]="row.author_url" class="img-default" alt="" onError="this.src='../../assets/images/user-default.svg'"></div>
                <div class="content-comment">
                    <div class="user-name">{{row.author_name}} <span class="time-comment">{{row.date | dateCountdown}}</span></div>
                    <div class="text-comment" [innerHTML]="row.content.rendered"></div>
                    <ul class="action-comment action-liked">
                        <li>
                            <a class="reply" *ngIf="cLogged" [attr.data-target]="'comment' + row.id" reply-comment>Trả lời</a>
                        </li>
                    </ul>
                    <div class="user-comment user-comment-child" *ngFor="let crow of row?.child">
                        <div class="avatar-form"><img class="img-default" [src]="crow.author_url" alt="" onError="this.src='../../assets/images/user-default.svg'"></div>
                        <div class="content-comment">
                            <div class="user-name">{{crow.author_name}} <span class="time-comment">{{crow.date | dateCountdown}}</span></div>
                            <div class="text-comment" [innerHTML]="crow.content.rendered"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="loadmore-comment" *ngIf="cMore">
                <button class="btn-load-comment" type="button" (click)="getComments()">Xem thêm 20 bình luận</button>
            </div>
        </div>
    </section>

    <div id="news" class="l-target-shadown" [ngClass]="{'active': speed}" (click)="speed = false" *appShellNoRender></div>

    <section [ngClass]="{'block': posttag}" *appShellNoRender pushin>
        <div *ngIf="posttag && seriesNext == null">
            <div class="head-block pushpin-b clearfix">
                <h3>Chắc bạn sẽ thích</h3>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col s12" *ngFor="let row of posttag?.posts">
                        <div class="item-thumb-l clearfix">
                            <a class="thumb-itl" (click)="destroySeries()" [routerLink]="[row.link]">
                                <span class="thumbnail-post" *ngIf="row.skull">
                                    <span class="skullcap">
                                        <img src="../../assets/images/skullcap.svg" alt="Không sợ thì bấm">
                                        <span>Không sợ thì bấm</span>
                                    </span>
                                </span>
                                <span class="img-holder">
                                    <span class="img-ratio-fill" style="padding-bottom: 62.500000%;"></span>
                                    <span class="img-progressive img-background" [ngStyle]="{'background-image': 'url(' + row.image + ')'}"></span>
                                </span>
                            </a>
                            <div class="w-itl">
                                <a (click)="destroySeries()" [routerLink]="[row.link]" class="title-itl"><span
                                        [innerHTML]="row.title"></span></a>
                                <a class="title-author-itl" (click)="destroySeries()" [routerLink]="['/author/', row.author.slug]">{{row.author.name}}
                                    | {{row.cate.name}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="newest" [ngClass]="{'block': news}" *appShellNoRender pushin>
        <div *ngIf="newpost?.posts && seriesNext == null">
            <div class="head-block pushpin-b">
                <h3>Bài mới nhất</h3>
            </div>
            <div class="category-list-post mt-0" *ngIf="seriesNext == null">
                <div class="container">
                    <ul class="list-news-ht">
                        <li *ngFor="let row of news">
                            <a (click)="destroySeries()" [routerLink]="[row.link]" class="clearfix">
                                <time datetime="2018-08-22T12:00:08Z"></time>
                                <span class="title-lnht" [innerHTML]="row.title"></span>
                                <span class="sapo-lnht clearfix">
                                    <span class="thumbnail-post" *ngIf="row.skull">
                                        <span class="skullcap">
                                            <img src="../../assets/images/skullcap.svg" alt="Không sợ thì bấm">
                                            <span>Không sợ thì bấm</span>
                                        </span>
                                    </span>
                                    <span class="img-holder">
                                        <span class="img-ratio-fill" style="padding-bottom: 62.500000%;"></span>
                                        <span class="img-progressive img-background" [ngStyle]="{'background-image': 'url(' + row.image + ')'}"></span>
                                    </span>
                                </span>
                                <span class="sapo-text" [innerHTML]="row.title"></span>
                            </a>
                        </li>
                    </ul>
                    <angular-loader (loadClick)="loadMore()"></angular-loader>
                </div>
            </div>
        </div>
    </section>

    <section class="nav-bottom" [ngClass]="{'is-show': navbar}" *appShellNoRender>
        <div class="row">
            <div class="col s5">
                <a class="left-nb" [attr.href]="share" target="_blank">
                    <i class="icon-facebook"></i>
                    <span class="share-fb">Chia sẻ</span>
                </a>
            </div>
            <div class="col s7">
                <button class="right-nb btn-same-category sidenav-trigger" data-target="same-category" modal>
                    <i class="icon-arrow-right"></i>
                    <span class="same-category"><span>Đọc tiếp</span><strong [innerHTML]="post?.cate.name"></strong></span>
                </button>
            </div>
        </div>
    </section>

    <aside id="same-category" class="sidenav side-nav" *appShellNoRender>
        <div class="head-block clearfix">
            <h3 [innerHTML]="post?.cate.name">Cate</h3>
        </div>
        <div class="w-same-category has-scroll modal-close">
            <div class="col s12">
                <ul class="list-news-ht" *ngIf="related?.posts">
                    <li *ngFor="let row of related.posts">
                        <a (click)="destroySeries()" [routerLink]="[row.link]" class="clearfix sidenav-close">
                            <time datetime="2018-08-28T19:00:23Z"></time>
                            <span class="title-lnht" [innerHTML]="row.title"></span>
                            <span class="sapo-lnht clearfix">
                                <span class="thumbnail-post" *ngIf="row.skull">
                                    <span class="skullcap">
                                        <img src="../../assets/images/skullcap.svg" alt="Không sợ thì bấm">
                                        <span>Không sợ thì bấm</span>
                                    </span>
                                </span>
                                <span class="img-holder">
                                    <span class="img-ratio-fill" style="padding-bottom: 62.500000%;"></span>
                                    <span class="img-progressive img-background" [ngStyle]="{'background-image': 'url(' + row.image + ')'}"></span>
                                </span>
                            </span>
                            <span class="sapo-text" [innerHTML]="row.title"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </aside>

    <div *ngIf="series.length != 0">
        <div class="nav-series-post" [ngClass]="{'is-show': navbar && post.serie !== null, 'open-series-list' : seriesShow}"
            *appShellNoRender>
            <ul class="list-series">
                <li>Bài cùng series</li>
                <li *ngFor="let row of series; let i = index" [ngClass]="{'reading': post?.id == row.id}" (click)="seriesShow = !seriesShow">
                    <a (click)="destroySeries()" [routerLink]="[row.link]"><span>{{i}}</span>
                        <div [innerHTML]="row.title"></div>
                    </a>
                </li>
            </ul>
            <div class="series-post">
                <a (click)="destroySeries()" [routerLink]="[seriesNext?.link]" *ngIf="seriesNext" class="serie-next">
                    <span class="head-pr">Đọc tiếp</span>
                    <span class="title-pr" [innerHTML]="seriesNext?.title"></span>
                </a>
                <div *ngIf="!seriesNext" class="serie-next">
                    <span class="head-pr">Đọc tiếp</span>
                    <span class="title-pr" [innerHTML]="seriesAlert"></span>
                </div>
                <button class="btn-series" type="button" (click)="seriesShow = !seriesShow">
                    <svg width="16px" height="10px" viewBox="0 0 16 10" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs></defs>
                        <g id="mobile" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g class="line-series" transform="translate(-963.000000, -1085.000000)" fill="#000000"
                                fill-rule="nonzero">
                                <g id="series" transform="translate(963.000000, 1085.000000)">
                                    <rect id="Rectangle-22" x="6" y="0" width="10" height="1"></rect>
                                    <path d="M1,1 L1,3 L3,3 L3,1 L1,1 Z M0,0 L4,0 L4,4 L0,4 L0,0 Z" id="Rectangle-6"></path>
                                    <path d="M1,7 L1,9 L3,9 L3,7 L1,7 Z M0,6 L4,6 L4,10 L0,10 L0,6 Z" id="Rectangle-6-Copy"></path>
                                    <rect id="Rectangle-22" x="6" y="3" width="10" height="1"></rect>
                                    <rect id="Rectangle-22" x="6" y="6" width="10" height="1"></rect>
                                    <rect id="Rectangle-22" x="6" y="9" width="10" height="1"></rect>
                                </g>
                            </g>
                        </g>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>