<section class="block" *ngIf="content" pushin>
    <div [id]="'cate-' + menuContent?.id" class="modal modal-category">
        <ul class="tags-of-block modal-close">
            <li *ngFor="let row of menuContent?.child">
                <a [routerLink]="row.slug" [innerHTML]="row.title">16+</a>
            </li>
        </ul>
    </div>
    <div class="head-block pushpin-b pin-bottom clearfix">
        <h3> <a [routerLink]="slug">{{menuContent?.title}}</a> </h3>
        <a class="view-more modal-trigger" [attr.data-target]="'cate-' + menuContent?.id" modal>
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col s12" *ngFor="let row of content; let first = first">
                <div class="item-thumb-l clearfix" [ngClass]="{lg: first}">
                    <a class="thumb-itl" [routerLink]="row.link">
                        <span class="thumbnail-post" *ngIf="row.skull">
                            <span class="skullcap">
                                <img src="../../assets/images/skullcap.svg" alt="Không sợ thì bấm">
                                <span>Không sợ thì bấm</span>
                            </span>
                        </span>
                        <span class="img-holder">
                            <span class="img-ratio-fill" style="padding-bottom: 62.500000%;"></span>
                            <span class="img-progressive img-background" [ngStyle]="{'background-image': 'url(' + row.image + ')'}">
                            </span>
                        </span>
                    </a>
                    <div class="w-itl">
                        <a [routerLink]="row.link" class="title-itl" [innerHTML]="row.title">Title</a>
                        <a class="title-author-itl" [routerLink]="['but-danh',row.author.slug]" [innerHTML]="row.author.name">Author</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>