<section class="tags-page">
  <div class="head-tp">
    <div class="container">
      <div class="keyword-tp">
        <span>Bài viết thuộc từ khoá</span>
        <h1 [innerHTML]="tags?.name"></h1>
      </div>
    </div>
  </div>
  <div class="category-list-post">
    <div class="container">
      <ul class="list-news-ht">
        <li *ngFor="let row of news">
          <a [routerLink]="row.link" class="clearfix">
            <span class="title-lnht" [innerHTML]="row.title">Title</span>
            <span class="sapo-lnht clearfix">
              <span class="thumbnail-post" *ngIf="row.skull">
                <span class="skullcap">
                  <img src="../../assets/images/skullcap.svg" alt="Không sợ thì bấm">
                  <span>Không sợ thì bấm</span>
                </span>
              </span>
              <span class="img-holder">
                <span class="img-ratio-fill" style="padding-bottom: 62.500000%;"></span>
                <span class="img-progressive img-background" [ngStyle]="{'background-image': 'url(' + row.image + ')'}">
                </span>
              </span>
            </span>
            <span class="sapo-text" [innerHTML]="row.excerpt">Excerpt</span>
          </a>
        </li>
      </ul>
      <angular-loader (loadClick)="loadMore()"></angular-loader>
    </div>
  </div>
</section>
