<ngx-json-ld [json]="schema"></ngx-json-ld>
<section class="tags-page">
    <div class="head-tp">
        <div class="container">
            <div class="keyword-tp">
                <span>Đang xem video mục</span>
                <h1 [innerHTML]="cate?.name">Video Category</h1>
            </div>
        </div>
    </div>
    <div class="video-list">
        <div class="container">
            <div class="row">
                <div class="col s12 video-item" *ngFor="let row of news">
                    <a class="item-vbs" [routerLink]="row.link">
                        <span class="img-holder">
                            <span class="img-ratio-fill" style="padding-bottom: 62.500000%;"></span>
                            <span class="img-progressive img-background" [ngStyle]="{'background-image': 'url(' + row.image + ')'}">
                            </span>
                        </span> <span class="icon-play"></span>
                    </a>
                    <a [routerLink]="row.link" class="title-vbs" [innerHTML]="row.title">Title</a>
                </div>
            </div>
        </div>
        <angular-loader (loadClick)="loadMore()"></angular-loader>
    </div>
</section>
<section>
    <a class="btn-floating btn-large waves-effect waves-light btn-category" style="bottom: 60px" data-target="modal-video" modal><i class="icon-category-video">add</i></a>
    <div id="modal-video" class="modal bottom-sheet">
        <ul id="section-video" class="tags-of-block modal-close">
            <li *ngFor="let row of menu">
                <a [routerLink]="row.slug" [innerHTML]="row.title">Dễ thương</a>
            </li>
        </ul>
    </div>
</section>