<ngx-json-ld [json]="schema"></ngx-json-ld>
<section class="author-cover">
    <header>
        <div class="bg-cover" [ngStyle]="{'background-image': 'url(' + headImage + ')'}"></div>
        <div class="img-cover">
            <img width="80" height="80" [src]="headImage" class="responsive-img" onError="this.src='http://placehold.it/720x340/fffdf4/333333?text=+'">
            <h1 [innerHTML]="author?.name">Chim Mỏ Rộng</h1>
            <div class="intro-author" [innerHTML]="author?.description">Description</div>
        </div>
        <div class="wave-article">
            <svg viewBox="0 0 360 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="16-icon" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(0.000000, -166.000000)">
                    <path d="M0,175.059613 C38.2539063,161.45805 87.3525391,163.412803 147.295898,180.92387 C237.210938,207.190472 279.543945,209.343792 360,193.775433 C360,205.558636 360,210.021201 360,207.163128 L0,207.163128 L0,175.059613 Z"
                        id="wave-light" fill="#fffdf4"></path>
                </g>
            </svg>
        </div>
    </header>
    <div class="author-post-hot" *ngIf="hotpost?.posts">
        <div class="head-block">
            <h3>Bài nổi bật</h3>
        </div>
        <div class="content-hotest-p">
            <div class="container">
                <div class="row">
                    <div class="col s6" *ngFor="let row of hotpost?.posts">
                        <div class="item-hotest-p">
                            <a [routerLink]="row.link">
                                <span class="thumbnail-post" *ngIf="row.skull">
                                    <span class="skullcap">
                                        <img src="../../assets/images/skullcap.svg" alt="Không sợ thì bấm">
                                        <span>Không sợ thì bấm</span>
                                    </span>
                                </span>
                                <span class="img-holder">
                                    <span class="img-ratio-fill" style="padding-bottom: 62.500000%;"></span>
                                    <span class="img-progressive img-background" [ngStyle]="{'background-image': 'url(' + row.image + ')'}"></span>
                                </span>
                                <span class="title-ihp" [innerHTML]="row.title">Title</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="category-list-post" *appShellNoRender>
        <div class="head-block">
            <h3>Mới nhất</h3>
        </div>
        <div class="container">
            <ul class="list-news-ht">
                <li *ngFor="let row of news">
                    <a [routerLink]="row.link" class="clearfix">
                        <time datetime="2018-08-22T10:00:00Z"></time>
                        <span class="title-lnht" [innerHTML]="row.title">Title</span>
                        <span class="sapo-lnht clearfix">
                            <span class="thumbnail-post" *ngIf="row.skull">
                                <span class="skullcap">
                                    <img src="../../assets/images/skullcap.svg" alt="Không sợ thì bấm">
                                    <span>Không sợ thì bấm</span>
                                </span>
                            </span>
                            <span class="img-holder">
                                <span class="img-ratio-fill" style="padding-bottom: 62.500000%;"></span>
                                <span class="img-progressive img-background" [ngStyle]="{'background-image': 'url(' + row.image + ')'}"></span>
                            </span>
                        </span>
                        <span class="sapo-text" [innerHTML]="row.excerpt">Excerpt</span>
                    </a>
                </li>
            </ul>
            <angular-loader (loadClick)="loadMore()"></angular-loader>
        </div>
    </div>
</section>