<ngx-json-ld [json]="schema"></ngx-json-ld>
<section class="category-cover">
  <header><img [src]="headImage" class="feature-image"></header>
  <div class="category-list-post">
    <div class="head-block" *ngIf="cate?.name">
      <h1 [innerHTML]="cate.name">Cate Name</h1>
    </div>
    <div class="container">
      <ul class="list-news-ht">
        <li *ngFor="let row of news">
          <a [routerLink]="row.link" class="clearfix">
            <time datetime="2018-08-21T19:00:20Z"></time>
            <span class="title-lnht" [innerHTML]="row.title">Title</span>
            <span class="sapo-lnht clearfix">
              <span class="thumbnail-post" *ngIf="row.skull">
                <span class="skullcap">
                  <img src="../../assets/images/skullcap.svg" alt="Không sợ thì bấm">
                  <span>Không sợ thì bấm</span>
                </span>
              </span>
              <span class="img-holder">
                <span class="img-ratio-fill" style="padding-bottom: 62.500000%;"></span>
                <span class="img-progressive img-background" [ngStyle]="{'background-image': 'url(' + row.image + ')'}">
                </span>
              </span>
            </span>
            <span class="sapo-text" [innerHTML]="row.excerpt">Excerpt</span>
          </a>
        </li>
      </ul>
    </div>
    <angular-loader (loadClick)="loadMore()"></angular-loader>
  </div>
</section>
