<ngx-json-ld [json]="schema"></ngx-json-ld>

<section class="home-fearture">
    <div class="head-hotest-p" *ngFor="let row of featured | slice:0:1:2:3">
        <a [routerLink]="row.link">
            <span class="thumbnail-post" *ngIf="row.skull">
                <span class="skullcap">
                    <img src="../../assets/images/skullcap.svg" alt="Không sợ thì bấm">
                    <span>Không sợ thì bấm</span>
                </span>
            </span>
            <span class="img-holder">
                <span class="img-ratio-fill" style="padding-bottom: 62.500000%;"></span>
                <span class="img-progressive img-background" [ngStyle]="{'background-image': 'url(' + row.image + ')'}">
                </span>
            </span>
        </a>
    </div>
    <div class="content-hotest-p">
        <div class="container">
            <div *ngFor="let row of featured | slice:0:1:2:3">
                <a class="title-category" [routerLink]="row.cate.link" [innerHTML]="row.cate.name">Cat Name</a>
                <h2 class="title-article"><a [routerLink]="row.link" [innerHTML]="row.title">Title</a></h2>
                <p class="sabo-hotest-p" [innerHTML]="row.excerpt">Excerpt</p>
            </div>
            <div class="row" style="margin-bottom: 0px;">
                <div class="col s6" *ngFor="let row of featured | slice:1">
                    <div class="item-new-b">
                        <a [routerLink]="row.link">
                            <span class="thumbnail-post" *ngIf="row.skull">
                                <span class="skullcap">
                                    <img src="../../assets/images/skullcap.svg" alt="Không sợ thì bấm">
                                    <span>Không sợ thì bấm</span>
                                </span>
                            </span>
                            <span class="img-holder">
                                <span class="img-ratio-fill" style="padding-bottom: 62.500000%;"></span>
                                <span class="img-progressive img-background" [ngStyle]="{'background-image': 'url(' + row.image + ')'}">
                                </span>
                            </span>
                        </a>
                        <a class="title-nb" [routerLink]="row.link" [innerHTML]="row.title">Title</a>
                        <a class="title-author-nb" [routerLink]="['but-danh',row.author.slug]" [innerHTML]="row.author.name">Author</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="new-post" *appShellNoRender>
    <ul class="list-news-ht">
        <li *ngFor="let row of posts?.newest_1">
            <a [routerLink]="row.link" class="clearfix">
                <span class="title-lnht" [innerHTML]="row.title">Title</span>
                <span class="sapo-lnht clearfix">
                    <span class="thumbnail-post" *ngIf="row.skull">
                        <span class="skullcap">
                            <img src="../../assets/images/skullcap.svg" alt="Không sợ thì bấm">
                            <span>Không sợ thì bấm</span>
                        </span>
                    </span>
                    <span class="img-holder">
                        <span class="img-ratio-fill" style="padding-bottom: 62.500000%;"></span>
                        <span class="img-progressive img-background" [ngStyle]="{'background-image': 'url(' + row.image + ')'}">
                        </span>
                    </span>
                </span>
                <span class="sapo-text" [innerHTML]="row.excerpt">Excerpt</span>
            </a>
        </li>
    </ul>
</section>

<section class="trending" id="trending_posts" *ngIf="posts?.trending">
    <div class="container">
        <h3 class="sticky"><span>Trending</span></h3>
        <div class="row">
            <div class="col s12" *ngFor="let row of posts?.trending | slice:0:1">
                <div class="item-thumb-trend lg">
                    <a [routerLink]="row.link">
                        <span class="img-holder">
                            <span class="img-ratio-fill" style="padding-bottom: 62.500000%;"></span>
                            <span class="img-progressive img-background" [ngStyle]="{'background-image': 'url(' + row.image + ')'}">
                            </span>
                        </span>
                        <span class="title-itt" [innerHTML]="row.title">Title</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-scroll">
        <div *ngFor="let row of posts?.trending | slice:1" class="item-ss">
            <a [routerLink]="row.link">
                <span class="img-holder">
                    <span class="img-ratio-fill" style="padding-bottom: 62.500000%;"></span>
                    <span class="img-progressive img-background" [ngStyle]="{'background-image': 'url(' + row.image + ')'}">
                    </span>
                </span>
                <span class="title-iss" [innerHTML]="row.title">Title</span>
            </a>
        </div>
    </div>
</section>

<section class="new-post" *appShellNoRender>
    <ul class="list-news-ht">
        <li *ngFor="let row of posts?.newest_2">
            <a [routerLink]="row.link" class="clearfix">
                <span class="title-lnht" [innerHTML]="row.title">Title</span>
                <span class="sapo-lnht clearfix">
                    <span class="thumbnail-post" *ngIf="row.skull">
                        <span class="skullcap">
                            <img src="../../assets/images/skullcap.svg" alt="Không sợ thì bấm">
                            <span>Không sợ thì bấm</span>
                        </span>
                    </span>
                    <span class="img-holder">
                        <span class="img-ratio-fill" style="padding-bottom: 62.500000%;"></span>
                        <span class="img-progressive img-background" [ngStyle]="{'background-image': 'url(' + row.image + ')'}">
                        </span>
                    </span>
                </span>
                <span class="sapo-text" [innerHTML]="row.excerpt">Excerpt</span>
            </a>
        </li>
    </ul>
</section>

<app-menuchild [menu]="1" [content]="posts?.giai_tri" *appShellNoRender></app-menuchild>
<app-menuchild [menu]="2" [content]="posts?.kham_pha" *appShellNoRender></app-menuchild>
<app-menuchild [menu]="3" [content]="posts?.song_dep" *appShellNoRender></app-menuchild>
<app-menuchild [menu]="4" [content]="posts?.song_deep" *appShellNoRender></app-menuchild>

<section class="block newest" id="newest_posts" *appShellNoRender pushin>
    <div class="head-block pushpin-b" data-target="newest_posts" *ngIf="news">
        <h3>Bài mới nhất</h3>
    </div>
    <div class="category-list-post mt-0">
        <div class="container">
            <ul class="list-news-ht">
                <li *ngFor="let row of news">
                    <a [routerLink]="row.link" class="clearfix">
                        <span class="title-lnht" [innerHTML]="row.title">Title</span>
                        <span class="sapo-lnht clearfix">
                            <span class="thumbnail-post" *ngIf="row.skull">
                                <span class="skullcap">
                                    <img src="../../assets/images/skullcap.svg" alt="Không sợ thì bấm">
                                    <span>Không sợ thì bấm</span>
                                </span>
                            </span>
                            <span class="img-holder">
                                <span class="img-ratio-fill" style="padding-bottom: 62.500000%;"></span>
                                <span class="img-progressive img-background" [ngStyle]="{'background-image': 'url(' + row.image + ')'}">
                                </span>
                            </span>
                        </span>
                        <span class="sapo-text" [innerHTML]="row.excerpt">Excerpt</span>
                    </a>
                </li>
            </ul>
            <angular-loader (loadClick)="loadMore()"></angular-loader>
        </div>
    </div>
</section>