<section class="search-result">
    <div class="head-sr">
        <div class="container">
            <h1>Kết quả tìm kiếm</h1>
            <form #formSearchOnPage="ngForm" (submit)="goSearchOnPage(formSearchOnPage)">
                <div class="search-box">
                    <input id="search_input" type="search" class="input-search" [(value)]="slug" placeholder="Tìm nhanh…" name="search" [(ngModel)]="slug">
                    <button *ngIf="slug !=''" type="button" class="remove-keyword" (click)="removeKey()"><i class="icon-remove"></i></button>
                    <button class="search-submit" type="submit"><i class="icon-search"></i></button>
                </div>
            </form>
            <div class="keyword-sr">Tìm thấy {{searchPost?.count}} kết quả với từ khoá <span>“{{slug}}”</span></div>
        </div>
    </div>
    <div class="category-list-post">
        <div class="container">
            <ul class="list-news-ht" *ngIf="searchPost?.posts">
                <li *ngFor="let row of news">
                    <a [routerLink]="row.link" class="clearfix">
                        <time datetime="row.date"></time>
                        <span class="title-lnht" [innerHTML]="row.title">Title</span>
                        <span class="sapo-lnht clearfix">
                            <span class="thumbnail-post" *ngIf="row.skull">
                                <span class="skullcap">
                                    <img src="../../assets/images/skullcap.svg" alt="Không sợ thì bấm">
                                    <span>Không sợ thì bấm</span>
                                </span>
                            </span>
                            <span class="img-holder">
                                <span class="img-ratio-fill" style="padding-bottom: 62.500000%;"></span>
                                <span class="img-progressive img-background" [ngStyle]="{'background-image': 'url(' + row.image + ')'}"></span>
                            </span>
                        </span>
                        <span class="sapo-text" [innerHTML]="row.excerpt">Excerpt</span>
                    </a>
                </li>
            </ul>
            <angular-loader (loadClick)="loadMore()"></angular-loader>
        </div>
    </div>
</section>